<div class="row mt-4"  >

  <div class="col-sm-6 col-lg-12">

      <div class="card card-primary card-outline card-outline-tabs ">
        <div class="card-header p-0 border-bottom-0 " >
          <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Dados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"> Roles </a>
            </li>
          </ul>
        </div>

        <div class="card-body">
          <div class="tab-content" id="custom-tabs-four-tabContent " >
            <div class="tab-pane fade show active  " id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">

              <div class="row">
                  <div class="col-lg-8">
                  
                      <div class="input-group mb-3 col-12 mt-3" >

                        <div class="input-group mb-3 mt-5 col-8">
                          <label class="text w-100" > Nome </label>
                          <input type="email" class="form-control" placeholder="Nome" required  formControlName="nome">
                        </div>

                        <div class="input-group mb-3 mt-5 col-4 text-start">
                          <label class="text w-100">Status</label>
                          <div class="">
                              <input type="checkbox"  checked data-bootstrap-switch data-off-color="danger" data-on-color="success"   >
                          </div>
                      </div>

                        <div class="input-group mb-3 mt-5 col-8">
                            <label class="text w-100" > Email </label>
                            <input type="email" class="form-control" placeholder="Email" required  formControlName="email">
                        </div>

                      
      
                      </div>
                 
                  </div>
                  
              </div>

        
            </div>

            <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
           
              <div class="row mt-5">
                <div class="col-sm-6">
                  <!-- Primer radio (arriba) -->
                  <div class="form-group clearfix">
                    <div class="icheck-success d-inline">
                      <input type="radio" name="r3" checked id="radioSuccess1">
                      <label for="radioSuccess1"> Administrador </label>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm-6">
                  <!-- Segundo radio (abajo) -->
                  <div class="form-group clearfix">
                    <div class="icheck-success d-inline">
                      <input type="radio" name="r3" id="radioSuccess2">
                      <label for="radioSuccess2"> Editor </label>
                    </div>
                  </div>
                </div>
              </div>
              

            </div>
            <div class="input-group mb-3 col-12 mt-3" >
              <button type="button" class="btn btn-primary shadow" style="width: 110px; margin-left: 7px;" ><i class="fa fa-save"></i> &nbsp; Guardar</button>
              <button type="button" class="btn btn-danger shadow"  style="width: 100px; margin-left: 30px;"> <i class="fas fa-trash"></i> &nbsp; Excluir</button>
          </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>


</div>



