
<div class="row mt-4 font fs-11"  >

  <div class="col-12">

      <div class="card card-primary card-outline card-outline-tabs fs-9">
        <div class="card-header p-0 border-bottom-0">
          <div class="ml-auto">
              <ul class="nav nav-tabs fs-11 p-1" id="custom-tabs-four-tab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#dados" role="tab" aria-controls="custom-tabs-four-dados" aria-selected="true">Dados</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="custom-tabs-four-logs-tab" data-toggle="pill" href="#logs" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Logs</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="custom-tabs-four-access-tab" data-toggle="pill" href="#access" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Acceso sistema</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#documents" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Documentos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#roles" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Roles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-profile-alarm" data-toggle="pill" href="#alarm" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Alarmes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-profile-alarm" data-toggle="pill" href="#history" role="tab" aria-controls="custom-tabs-four-history" aria-selected="false">Histórico da sede</a>
                   </li>

              </ul>
          </div>
         </div>
      
      
        <div class="card-body ">
          <div class="tab-content" id="custom-tabs-four-tabContent " >

            <div class="tab-pane fade show active " id="dados" role="tabpanel" aria-labelledby="dados">
              <div class="row ">
                  <div class="col-9">

                    <form [formGroup]="myForm" class="needs-validation mt-1 "  novalidate  [autocomplete]="false" >

                        <div class="row">
                        
                              <div class="input-group mt-3 col-4 fs-11" >
                                <label class="text w-100" > Ordem </label>
                                <select class="form-control select2 "  formControlName="ordem" [attr.disabled]="(disableOrdem) ? '' : null">
                                  <option *ngFor="let ord of ordem" [value]="ord" > {{ ord }} </option>
                                </select>
                              </div>   
                              
                              <div class="input-group mt-3 col-4">
                                <label class="text w-100">Seleccione grupo</label>
                                <select #groupSelect class="form-control select2 col-12 cursor" (change)="onSelectGroup($event)">
                                  <option style="display:none" disabled selected></option>
                                  <option *ngFor="let group of groups" [value]="[group.name, group.idgroup]" class="font">{{ group.name }}</option>
                                </select>
                              </div>

                            
                              <div class="mt-3 col-4 shadow frame-work" *ngIf="nameGroups.length !== 0">
                                <div class="font fs-11 groups" *ngFor="let sel of nameGroups" >{{ sel }} &nbsp; <i class="fas fa-times-circle cursor" (click)="removeGroup(sel)"></i></div>
                              </div>

                        </div>

                          <div class="row">
                              <div class="input-group mt-4 col-12">
                                <span class="text mb-3 w-100"> <b>Nome completo</b> </span>
                                <input type="text" class="form-control" [readonly]="readonlyFields['Nome_Completo'] || isLinkedToCongregatio" formControlName="Nome_Completo" >
                                <button type="button" class="btn btn-primary btn-block" style="width: 150px; font-size: 1em; line-height: 20px;" data-toggle="modal" data-target="#modalCongregatio" >
                                  <i class="fas fa-search"></i> &nbsp; Congregatio
                                </button>
                              </div>

                              <div class="input-group mb-3 mt-5 col-12" >
                                <label class="text w-100">Link com Congregatio</label>
                                <div class="mt-1" >
                                    <input type="checkbox"  data-bootstrap-switch data-off-color="danger" data-on-color="success" #link >
                                    <label class=" font fs-11" style="color: rgb(4, 171, 4); margin-left: 10px;" *ngIf="stateLink && wasLinked"> Usuário vinculado com sucesso </label>

                                    <button type="button" class="btn btn-primary shadow fs-9" style="margin-left: 30px; padding: 4.2px 9px 4.2px 9px !important; " data-toggle="modal" data-target="#modalFichaCompleta"  ><i class="fa fa-list-ul"></i> &nbsp; Ver ficha completa</button>
                                </div>

                              </div>

                      

                                <div class="input-group mt-4 mb-3 col-6" >
                                  <label class="text w-100"  > <b>Nome</b> </label>
                                  <input type="text" class="form-control" [readonly]="readonlyFields['name'] || isLinkedToCongregatio" formControlName="name" >
                              </div>    
                                
                              <div class="input-group mt-4 mb-3  col-6">
                                  <label class="text w-100" >Sobrenome</label>
                                  <input type="text" class="form-control" [readonly]="readonlyFields['lastName'] || isLinkedToCongregatio" formControlName="lastName">
                              </div>
                        </div>

                        <div class="row">

                          <div class="input-group mb-3 mt-3 col-6">
                            <label class="text w-100" > Telefone  </label>
                            <input type="text" class="form-control" [readonly]=" readonlyFields['Telefone1'] || isLinkedToCongregatio" formControlName="Telefone1">
                          </div>

                          <div class="input-group mb-3 mt-3 col-6" >
                            <div class="input-group date" >
                          <label class="text w-100" > Data de nascimento  </label>
                              <input type="text"
                                class="form-control datetimepicker-input"
                                bsDatepicker
                                [bsValue]="bsValue"
                                [minDate]="minDate"
                                [maxDate]="maxDate"
                                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }"
                                formControlName="Data_Nascimento" [readonly]="readonlyFields['Data_Nascimento'] || isLinkedToCongregatio">
                              <div class="input-group-append"  >
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                            </div>
                            <div *ngIf="validField('Data_Nascimento')" class="invalid" > Dado obrigatório </div>
                        </div>

                          <!-- <div class="input-group mb-3 mt-3 col-sm-6">
                            <label class="text w-100" > Data de nascimineto  </label>
                            <input type="text" class="form-control" [readonly]="readonlyFields['Data_Nascimento'] || isLinkedToCongregatio" formControlName="Data_Nascimento">
                          </div> -->
                        </div>

                        <div class="row">

                            <div class="input-group mb-3 mt-3 col-6" >
                              <label class="text w-100" >Email</label>
                              <input type="email" class="form-control" [readonly]="readonlyFields['Email'] || isLinkedToCongregatio" formControlName="Email">
                            </div>

                            <div class="input-group mb-3 mt-3 col-6">
                              <label class="text w-100" > Nacionalidade </label>
                              <input type="text" class="form-control" [readonly]="readonlyFields['Nacionalidade'] || isLinkedToCongregatio" formControlName="Nacionalidade">
                            </div>

                            <div class="input-group mb-3 mt-3 col-6">
                              <label class="text w-100" > Residência atual </label>
                              <input type="text" class="form-control" [readonly]="readonlyFields['Residencia_atual'] || isLinkedToCongregatio" formControlName="Residencia_atual">
                            </div>

                        </div>

                        <div class="row mt-3 font">
                          <div style="border-top: 2px solid rgb(203, 203, 203); width: 100%; padding-top: 5px; margin-left: 10px;">
                            <p>Sede</p>
                          </div>

                            <div class="input-group mb-3 mt-3 col-6" >
                              <label class="text w-100" > País da sede </label>
                              <input type="text" class="form-control" [readonly]="readonlyFields['Pais_da_sede'] || isLinkedToCongregatio" formControlName="Pais_da_sede">
                            </div>

                            <div class="input-group mb-3 mt-3 col-6" >
                              <label class="text w-100"> Cidade da sede </label>
                                <input type="text" class="form-control" [readonly]="readonlyFields['Cidade_da_sede'] || isLinkedToCongregatio" formControlName="Cidade_da_sede">
                            </div>
                            </div>
                                          
                        <div class="row mt-3" >
                            <div class="input-group mb-3 mt-3 col-6" >
                              <label class="text w-100"> Nome da sede </label>
                              <input type="text" class="form-control"  [readonly]="readonlyFields['Nome_da_sede'] || isLinkedToCongregatio"formControlName="Nome_da_sede">
                            </div>
                          </div>

                          <div class="d-flex align-items-start mt-3" >

                            <button type="button" class="btn btn-primary shadow fs-11" style="display: block"  (click)="onSave()" ><i class="fa fa-save"></i> &nbsp; Guardar</button>

                            <button type="button" class="btn btn-danger shadow fs-11"  style="margin-left: 30px;" data-toggle="modal" data-target="#modalAskDelUser" (click)="deleteUser()"> <i class="fas fa-trash"></i> &nbsp; Excluir</button>

                            <!-- <button type="button" class="btn btn-success shadow fs-11"  style="margin-left: 30px;" (click)="activeAccount('1')" *ngIf="myForm.get('active')?.value === 0"> <i class="fas fa-check-circle" ></i> &nbsp; Ativar</button> -->

                            <!-- <button type="button" class="btn btn-warning shadow fs-11"  style="margin-left: 30px; color: white;" (click)="activeAccount('0')" *ngIf="myForm.get('active')?.value === 1"> <i class="fas fa-check-circle" ></i> &nbsp; Desativar</button> -->

                            <div class="custom-control custom-switch d-flex  align-items-center justify-content-center" style="margin-left: 30px;" >
                              <input type="checkbox" class="custom-control-input " id="customSwitch1" #excluir (change)="activeDeacTive($event)" [checked]="myForm.get('active')?.value === 1">
                              <label class="custom-control-label cursor" for="customSwitch1"> Ativar usúario  </label>
                            </div>
                            <!-- [attr.disabled]="(!grupal) ? '' : null"  -->
                  
                          </div>

                      
                
                    </form>    
                                  
                  </div>
                  
                  <div class="col-3" >

                    <div class="card card-primary card-outline col-12 p-0"> 
                            <div class="card-body box-profile p-2">

                              <div class="text-center">
                                  <img class=" img-fluid" [src]="pathImg" alt="Foto do Perfil do Usuário">
                              </div>

                            <h5 class="font fs-11 mt-3 text-center" *ngIf="!wasLinked "> {{ user && user.Nome_Completo }} </h5>
                            <h5 class="font fs-11 mt-3 text-center" *ngIf="wasLinked "> {{ userCongregatio && userCongregatio['Nome Completo'] }} </h5>
                            
                            <!-- mi back  -->
                            <ng-container *ngIf="!wasLinked">

                              <div class="card mt-3 p-0" *ngIf=" user?.Habito_com_capuz === 'Sim' ">
                                
                                    <div class="capuz">
                                        Hábito com capuz
                                    </div>

                                    <div class="block" style="padding: 5px; line-height: 23px; background-color: rgb(236, 236, 236);" >

                                        <span style="width: 100%; display: inline-block;" > <b> {{ user.Data_Habito_Com_Capuz ? (user.Data_Habito_Com_Capuz | date:'dd/MM/YYYY') : '--------' }} </b> </span>
                                        <span class="fs-11 " style="width: 100%; display: inline-block;"> Ecarregado </span>

                                        <span class="fs-11" *ngIf="!wasLinked"> <b>{{ user.Encarregado_Com_Capuz || '-----------'}} </b></span>
                                  
                                    </div>
                              </div>

                              <!-- sin capuz -->
                              <div class="card mt-3 p-0" *ngIf="user?.Habito_sem_capuz === 'Sim' ">

                                  <div class="capuz">
                                      Hábito sem capuz
                                  </div>
                                <div class="block" style="padding: 10px; line-height: 23px; background-color: rgb(236, 236, 236);">

                                  <span style="width: 100%; display: inline-block;" > <b> {{ user.Data_Habito_Sem_Capuz ? (user.Data_Habito_Sem_Capuz | date:'dd/MM/YYYY') : '--------' }} </b> </span>

                                  <span class="fs-11 " style="width: 100%; display: inline-block;"> Ecarregado </span>

                                  <span class="fs-11"> <b>{{ user.Encarregado_Sem_Capuz || '-----------'}} </b></span>
                                </div>
                              </div>

                            </ng-container>

                            <!-- back congregatio -->
                            <ng-container *ngIf="wasLinked">

                              <div class="card mt-3 p-0" *ngIf="userCongregatio['Hábito com capuz (s/n)'] === 'Sim' ">
                                    <!-- capuz congregatio  -->
                                    <div class="capuz">
                                      Hábito com capuz
                                    </div>
    
                                    <div class="block" style="padding: 10px; line-height: 23px; background-color: rgb(236, 236, 236);" >
      
                                        <span style="width: 100%; display: inline-block;" > <b> {{ userCongregatio['Data Hábito Com Capuz'] ? (userCongregatio['Data Hábito Com Capuz'] | date:'dd/MM/YYYY') : '--------' }} </b> </span>
      
                                        <span class="fs-11 " style="width: 100%; display: inline-block;"> Ecarregado </span>
      
                                        <span class="fs-11"> <b>{{ userCongregatio['Encarregado Com Capuz']
                                          || '-----------'}} </b></span>
      
                                    </div>
                              </div>
    
                                  <!-- sin capuz congregatio-->
                            
                              <div class="card mt-3 p-0" *ngIf="userCongregatio['Hábito sem capuz (s/n)'] === 'Sim' ">
                              
                                      <div class="capuz">
                                          Hábito sem capuz
                                      </div>
                                    <div class="block" style="padding: 10px; line-height: 23px; background-color: rgb(236, 236, 236);">
    
                                      <span style="width: 100%; display: inline-block;" > <b> {{ userCongregatio['Data Hábito Sem Capuz'] ? (userCongregatio['Data Hábito Sem Capuz'] | date:'dd/MM/YYYY') : '--------' }} </b> </span>
    
                                      <span class="fs-11 " style="width: 100%; display: inline-block;"> Ecarregado </span>
    
                                      <span class="fs-11"> <b>{{ userCongregatio['Encarregado Sem Capuz'] || '-----------'}} </b></span>
                                    </div>
                              </div>

                            </ng-container>  
                          
                            </div>
                    </div> 
                    
                  </div>
              </div>
            </div>

            <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs">
              
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque necessitatibus, vitae officiis dignissimos facere molestiae, molestias, amet distinctio quas inventore accusantium enim quisquam! Cum voluptates, vel qui laborum voluptatem delectus?              

            </div>

            <div class="tab-pane fade" id="access" role="tabpanel" aria-labelledby="access" style="padding: 20px;">
                
       

              <!-- <div class="custom-control custom-switch d-flex  align-items-center justify-content-center" style="margin-left: 30px;" >
                <input type="checkbox" class="custom-control-input " id="customSwitch1" #excluir (change)="activeDeacTive($event)" [checked]="myForm.get('active')?.value === 1">
                <label class="custom-control-label cursor" for="customSwitch1"> Ativar usúario  </label>
              </div> -->

              <div class="row">
                <div class="custom-control custom-switch d-flex  align-items-center justify-content-center" style="margin-left: 0px;" >
                  <input type="checkbox" class="custom-control-input " id="customSwitch2" (change)="simpleCode($event)" [checked]="simpleCodeSelected">
                  <label class="custom-control-label" for="customSwitch2">Código de acceso simples</label>
                </div>
                <p style="color: rgb(152, 152, 152); margin-top: 10px;">Esta opção permite que você insira no aplicativo com um código de 6 dígitos, caso ele seja desativado, seu código de acesso será mais complexo</p>
                  
            </div>
            
              <div class="row" >
                <div style="border: 1px solid rgb(197, 197, 197); width: 100%; margin-bottom: 20px; margin-top: 10px;"></div>
                <button type="button" class="btn btn-primary shadow d-flex mr-auto " (click)="resendPassword()"> <i class="fas fa-key"></i> &nbsp; Generar nova senha</button>
              </div>
            
            </div>

            <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents">
              
              <div class="row mt-3">
                <div class="col-12 col-md-6 col-lg-4" *ngFor="let file of files; let i = index" >
                    <div class="card mb-3 " style="padding: 10px;" >

                        <pdf-viewer
                          [src]="pdfSrcList[i]?.preview"
                          [original-size]="true"
                          [show-all]="false"
                          [zoom]="0.3"
                          class="custom-size-viewer"
                        ></pdf-viewer>
                        <a class="w-100 mt-3">{{ file.name }}</a>
                      <div class="text-white d-flex justify-content-around align-items-center p-2" style="background-color: rgb(10, 120, 255);">

                        <i class="fas fa-trash" style="cursor: pointer; text-align: center; font-size: 18px; " data-toggle="modal" data-target="#modalAskDelDocument" (click)="onRemove(file)"></i>
                    
                        <i class="fas fa-eye" style="cursor: pointer; text-align: center; font-size: 18px; " (click)="onViewClick(file.name, i)" data-toggle="modal" data-target="#viewModal"></i>

                        <i class="fas fa-upload" style="cursor: pointer; text-align: center; font-size: 18px; " (click)="uploadDocument(file)" ></i>

                      </div>
                    </div>
                </div>
              </div>


                <ngx-dropzone (change)="onSelect($event)"  >
                  <ngx-dropzone-label>Arraste e solte os arquivos aqui ou clique para selecionar.</ngx-dropzone-label>
                </ngx-dropzone>


                  <div class="row mt-5">
                    <div class="col-12 col-md-6 col-lg-4" *ngFor="let doc of arrDocument, index as i " >
            
                        <div class="card mb-3 " style="padding: 10px;" >
    
                            <pdf-viewer
                              [src]="doc.filePath"
                              [original-size]="true"
                              [show-all]="false"
                              [zoom]="0.3"
                              class="custom-size-viewer"
                            ></pdf-viewer>
                            <a class="w-100 mt-3">{{ doc.originalName }}</a>
                          <div class="text-white d-flex justify-content-around align-items-center p-2" style="background-color: rgb(10, 120, 255);">
    
                            <i class="fas fa-trash" style="cursor: pointer; text-align: center; font-size: 18px; " data-toggle="modal" data-target="#modalAskDelDocument" (click)="deleteDocById(doc)"></i>
                        
                            <i class="fas fa-eye" style="cursor: pointer; text-align: center; font-size: 18px; " (click)="onView(doc)" data-toggle="modal" data-target="#viewModal"></i>
                            <i class="fas fa-cloud-download-alt" style="cursor: pointer; text-align: center; font-size: 16px; " (click)="downloadPdf(doc)" ></i>
                          </div>
                        </div>
                    </div>
                  </div>
    

                  
                  <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover font" style="font-size: 0.9em;">
      
                      <thead>
                          <tr>
                              <th>img</th>
                              <th>Nome</th>
                              <th>Data</th>
                              <th class="text-center">Baixar</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let doc of arrDocument, index as i ">

                              <td>  
                                <pdf-viewer [src]="doc.filePath" [render-text]="true" [original-size]="false" [show-all]="false" >
                                  [zoom]="1.0" style="width: 100%; height: 40px"></pdf-viewer>
                              </td>

                              <td class="cursor selected" (click)="onView(doc)" data-toggle="modal" data-target="#viewModalBack"> {{ doc.originalName }} </td>
                              <td> {{ doc.timestamp}} </td>
                              <td class="text-center"> 
                                  <span class="badge badge-success right cursor shadow" style="padding: 6px 8px 6px 8px;" (click)="downloadPdf(doc)"> <i class="fas fa-cloud-download-alt" style="font-size: 16px;"> </i> </span> &nbsp; <span class="badge badge-danger right cursor shadow" style="padding: 6px 8px 6px 8px; " data-toggle="modal" data-target="#modalAskDelDocument" (click)="deleteDocById(doc)"> <i class="fas fa-trash-alt" style="font-size: 16px;"> </i> </span>
                              </td>
                          </tr>

                      
                      </tbody>
                  </table> -->


            </div>

            <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles">
              <div class="row mt-5">
                <div class="col-sm-6">
                  <!-- Primer radio (arriba) -->
                  <div class="form-group clearfix">
                    <div class="icheck-success d-inline">
                      <input type="radio" name="r3"  id="radioSuccess1" (change)="handleRoleChange('admin')" [checked]="userRole">
                      <label for="radioSuccess1"> Administrador </label>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm-6">
                  <!-- Segundo radio (abajo) -->
                  <div class="form-group clearfix">
                    <div class="icheck-success d-inline">
                      <input type="radio" name="r3" id="radioSuccess2" (change)="handleRoleChange('user')" [checked]="userRole">
                      <label for="radioSuccess2"> Usúario </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="alarm" role="tabpanel" aria-labelledby="alarm">


              <div class="row mt-4">
       
                <div class="card col-12 table-responsive" style="padding: 12px; padding-top: 20px; background-color: white; ">
        
                  <div class="customTHead shadow font"> Alarmes pessoales</div>
        
                  <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover font fs-11" #table >
        
                        <thead >
                            <tr class="fs-11" >
                                <th>Nome</th>
                                <th >Nome alarme</th>
                                <th>Descrição</th>
                                <th>Data</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="personalAlarms.length !== 0">
                            <tr *ngFor="let pes of personalAlarms">
                                <td > {{pes.name }}</td>
                                <td > {{ pes.name }} </td>
                                <td> {{ pes.description }} </td>
                                <td> {{ pes.alarmDate | date:'dd/MM/yyyy'}} </td>
                                <td>
                                  <!-- (click)="editPessoalAlarm(pes)" -->
                                  <i class="far fa-edit " style="cursor: pointer; text-align: center; font-size: 19px;  color: rgb(255, 200, 0); margin-right: 5px;"  data-toggle="modal" data-target="#modalEditGroup" ></i>
                                  <i class="fas fa-trash " style="cursor: pointer; text-align: center; font-size: 18px;  color: red; margin-left: 5px;" data-toggle="modal" data-target="#modalAskDelAlarm" (click)="onRemoveAlarm(pes)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>

            </div>

            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history">
              <div class="row mt-5">
                <div class="col-12">
                
                  <div class="boxSelection font" style="padding: 15px;" >
                        {{ user && user.Historico_Sedes }}
                       <span *ngIf="user?.Historico_Sedes === '' || user?.Historico_Sedes === undefined "> Sem histórico de sede para mostrar </span> 
                  </div>

               </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>



</div>

 
  <!-- Modal Preview Back -->
  <div class="modal fade" id="viewModalBack" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl justify-content-center" role="document"> 
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewModalLabel"> <a>{{fileNameBack}}</a> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >

          <div *ngIf="!loadingPdf">
            <div class="embed-responsive embed-responsive-16by9">
              <pdf-viewer [src]="selectedPdfBack" [render-text]="true" [original-size]="false" class="embed-responsive-item"></pdf-viewer>
            </div>
          </div>

        </div>
        <div class="modal-footer">


          <a [href]="selectedPdfBack" download="{{fileNameBack}}">
            <i class="fas fa-download"></i> Baixar
          </a>
          <!-- Botones y acciones del pie del modal -->
        </div>
      </div>
    </div>
  </div>

   
  <!-- Modal Preview Back -->
  <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl justify-content-center" role="document"> 
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewModalLabel"> <a>{{fileName}}</a> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >

          <div *ngIf="!loadingPdf">
            <div class="embed-responsive embed-responsive-16by9">
              <pdf-viewer [src]="selectedPdfSrc" [render-text]="true" [original-size]="false" class="embed-responsive-item"></pdf-viewer>
            </div>
          </div>

        </div>
        <div class="modal-footer">


          <a [href]="selectedPdfBack" download="{{fileNameBack}}">
            <i class="fas fa-download"></i> Baixar
          </a>
          <!-- Botones y acciones del pie del modal -->
        </div>
      </div>
    </div>
  </div>

  <!-- ask delete document -->
  <div class="modal fade" id="modalAskDelDocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="opacity: 0.85; ">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fas fa-exclamation-triangle" style="color: red; font-size: 40px;"></i>
          <button type="button"   class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <h6 class="font fs-11">Tem certeza de que deseja excluir este documento?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-block shadow" (click)="continue()" data-dismiss="modal" aria-label="Close"> Continuar</button>
          <!-- <button type="button" class="btn btn-primary btn-block shadow"  *ngIf="isSending"> Enviando...</button> -->

        </div>

      </div>
    </div>
  </div>

    <!-- ask delete user -->
    <div class="modal fade" id="modalAskDelUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="opacity: 0.85; ">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <i class="fas fa-exclamation-triangle" style="color: red; font-size: 40px;"></i>
            <button type="button"   class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <h6 class="font">Tem certeza de que deseja excluir este usúario?</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block shadow" (click)="continueDelUser()" data-dismiss="modal" aria-label="Close"> Continuar</button>
            <!-- <button type="button" class="btn btn-primary btn-block shadow"  *ngIf="isSending"> Enviando...</button> -->
  
          </div>
  
        </div>
      </div>
    </div>

  <!-- Modal Congregatio-->
  <div class="modal fade" id="modalCongregatio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="opacity: 0.95; ">

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding: 20px;">
          <h5 class="modal-title font" id="exampleModalCenterTitle"> Busca por nome ou sobrenome</h5>
      
        </div>
        <div class="modal-body">
          
          <form [formGroup]="myFormSearch" class="needs-validation"  novalidate  [autocomplete]="false">

            <div class="input-group mb-3 font" >
                <input type="text" class="form-control" placeholder="Use % para pesquisas complexas"  name="itemSearch" formControlName="itemSearch" style="height: 50px;">
                <div class="input-group-append">
                  <div class="input-group-text" style="background-color: rgb(0, 128, 255);" >
                    <span class="fas fa-search" style="color: white"></span>
                  </div>
                </div>
    
              </div>
          </form>
          
          <div class="d-flex justify-content-center" *ngIf="loadindCongregatio">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div *ngIf="mostrarSugerencias">
              <div *ngFor="let item of suggested"  (click)="selectUser(item)" >
                
                <div class="boxSelection mt-1 font" >   
                   <img class=" img-fluid" src="https://congregatio.info/{{ item['Ruta Imagen'] }}" alt="Foto do Perfil do Usuário" width="40px">
                  {{ item['Nome Completo'] }}
                </div>
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block shadow" style="width: 100px;" data-dismiss="modal" aria-label="Close" #closebutton (click)="close()"> Sair</button>
        </div>

      
      </div>
    </div>
  </div>

  <!-- Modal Ficha completa-->
   <div class="modal fade" id="modalFichaCompleta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="opacity: 0.95; ">

      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header" style="padding: 20px;">
            <h5 class="modal-title font" id="exampleModalCenterTitle"> Ficha completa</h5>
        
          </div>
          <div class="modal-body">
            <div class="table-responsive  font" >
              <table class="table  table-hover" *ngIf="userCongregatio || user">
                <thead>
                  <tr>
                    <th scope="col">Propiedad</th>
                    <th scope="col">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let prop of getObjectProperties()">
                    <td> <b>{{ prop.key }}</b> </td>
                    <td>{{ prop.value }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-block shadow" style="width: 100px;" data-dismiss="modal" aria-label="Close" #closebutton (click)="close()"> Sair</button>
          </div>
  
        
        </div>
      </div>
  </div>

  <!-- no link selection  -->
  <div id="custom-toast" class="alert alert-danger alert-dismissible font" [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="showLabelLinked"  >
    <button type="button" class="close" (click)="closeToast()" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5 ><i class="icon fas fas fa-user-lock"></i> Erro</h5>
    <p class="cursor mt-1 fs-11" >Você selecionou um usuário de um banco de dados externo. É necessário escolher a opção 'Link com Congregatio'.</p>
  </div>

 <!-- success upload / edition /active  -->
 <div id="custom-toast" class="alert alert-success alert-dismissible font " [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="showSuccess">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (close)="closeToast()">&times;</button>
  <h5><i class="iicon fas fa-check"> &nbsp;</i> Sucesso!</h5>
  <span class="fs-11 w-100"> {{msg}}</span>
  <!-- <span class="fs-8 w-100"> Para verificar seu e-mail, siga as instruções que enviamos.</span> -->
</div>

  <!-- Modal ask delete alarm -->
  <div class="modal fade" id="modalAskDelAlarm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="opacity: 0.85; ">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fas fa-exclamation-triangle" style="color: red; font-size: 40px;"></i>
          <button type="button"   class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <h6 class="font fs-11">Tem certeza de que deseza excluir esta alarme?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-block shadow" (click)="continueDelAlarm()" data-dismiss="modal" aria-label="Close"> Continuar</button>
          <!-- <button type="button" class="btn btn-primary btn-block shadow"  *ngIf="isSending"> Enviando...</button> -->

        </div>

      </div>
    </div>
  </div>



<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
    <span class="sr-only">Loading...</span>
  </div>
</div> 





