
<div class="row mt-4 font fs-10"  >

  <div class="col-12">

      <div class="card card-primary card-outline card-outline-tabs fs-9">
        <div class="card-header p-0 border-bottom-0">
          <div class="ml-auto">
              <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#dados" role="tab" aria-controls="custom-tabs-four-dados" aria-selected="true">Dados</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="custom-tabs-four-logs-tab" data-toggle="pill" href="#logs" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Logs</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="custom-tabs-four-access-tab" data-toggle="pill" href="#access" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Acceso sistema</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#documents" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Documentos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#roles" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Roles</a>
                  </li>
              </ul>
          </div>
         </div>
      
      
        <div class="card-body ">
          <div class="tab-content" id="custom-tabs-four-tabContent " >

            <div class="tab-pane fade show active " id="dados" role="tabpanel" aria-labelledby="dados">
              <div class="row">
                  <div class="col-8">

                      <form [formGroup]="myForm" class="needs-validation mt-1"  novalidate  [autocomplete]="false" >

                          <div class="row">
                          
                              <!-- <div class="input-group mt-3 col-4"  >
                                <label class="text w-100" > Ordem </label>
                                <select class="form-control select2 " formControlName="ordem" >
                                  <option *ngFor="let ord of ordem" [value]="ord"> {{ user.ordem }} </option>
                                </select>
                              </div>       -->
                          
                                <div class="input-group mt-4 col-4" >
                                    <span class="text w-100"> <b>Nome</b> </span>
                                    <input type="text" class="form-control " required  formControlName="name" >
                                </div>   
                                  
                                <div class="input-group  mt-3 col-4">
                                    <label class="text w-100" >Sobrenome</label>
                                    <input type="text" class="form-control"  required  formControlName="lastName">
                                </div>
                          </div>

                          <div class="row">

                            <div class="input-group mb-3 mt-3 col-6">
                              <label class="text w-100" > Telefone  </label>
                              <input type="email" class="form-control"  required  formControlName="phone">
                            </div>

                            <div class="input-group mb-3 mt-3 col-sm-6">
                              <label class="text w-100" > Data de nascimineto  </label>
                              <input type="text" class="form-control"  required  formControlName="birthday">
                            </div>
                          </div>

                          <div class="row">

                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100" >Email</label>
                                <input type="email" class="form-control"  required  formControlName="email">
                              </div>

                              <div class="input-group mb-3 mt-3 col-6">
                                <label class="text w-100" > Nacionalidade </label>
                                <input type="email" class="form-control"  required  formControlName="nationality">
                              </div>

                              <div class="input-group mb-3 mt-3 col-6">
                                <label class="text w-100" > Residência atual </label>
                                <input type="email" class="form-control"  required  formControlName="actualAddress">
                              </div>

                          </div>

                          <div class="row mt-3 font">
                            <div style="border-top: 2px solid rgb(203, 203, 203); width: 100%; padding-top: 5px; margin-left: 10px;">
                              <p>Sede</p>
                            </div>

                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100" > País da sede </label>
                                <input type="text" class="form-control"  required  formControlName="headquarterCountry">
                              </div>

                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100"> Cidade da sede </label>
                                  <input type="text" class="form-control"  required  formControlName="headquarterCity">
                              </div>
                              </div>
                                            
                          <div class="row mt-3" >
                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100"> Nome da sede </label>
                                <input type="text" class="form-control"  required  formControlName="headquarterName">
                              </div>
                            </div>

                              <div class="input-group mb-3 mt-3" >
                                <button type="button" class="btn btn-primary shadow fs-10"  (click)="onSave()" ><i class="fa fa-save"></i> &nbsp; Guardar</button>
                                <button type="button" class="btn btn-danger shadow fs-10"  style="margin-left: 30px;"> <i class="fas fa-trash"></i> &nbsp; Excluir</button>
                              </div>
                              
                              <!-- <div class="input-group mb-3 mt-3" >
                                <label style="margin-left: 0px;">Condição</label>
                                <div class="" style="margin-left: 30px;">
                                    <input type="checkbox"  checked data-bootstrap-switch data-off-color="danger" data-on-color="success"   >
                                </div>
                              </div> -->
                                  
                      </form>    
                                  
                  </div>
                  
                  <div class="col-4" >

                    <div class="card card-primary card-outline col-12"> 
                            <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                    src="assets/img/user4-128x128.jpg"
                                    alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">Nina Mcintire</h3>

                            <p class="text-muted text-center">Software Engineer</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                <b>Followers</b> <a class="float-right">1,322</a>
                                </li>
                                <li class="list-group-item">
                                <b>Following</b> <a class="float-right">543</a>
                                </li>
                                <li class="list-group-item">
                                <b>Friends</b> <a class="float-right">13,287</a>
                                </li>
                            </ul>

                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                            </div>
                    </div> 
                    
                  </div>
              </div>
            </div>

            <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs">
              
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque necessitatibus, vitae officiis dignissimos facere molestiae, molestias, amet distinctio quas inventore accusantium enim quisquam! Cum voluptates, vel qui laborum voluptatem delectus?              

            </div>

            <div class="tab-pane fade" id="access" role="tabpanel" aria-labelledby="access" style="padding: 20px;">
                
              <div class="row">
                  <div class="input-group mb-3 mt-3" >
                    <label style="margin-left: 0px;">Código de acceso simples</label>
                    <div class="" style="margin-left: 30px;">
                        <input type="checkbox"  checked data-bootstrap-switch data-off-color="danger" data-on-color="success"   >
                    </div>
                    <p style="color: rgb(152, 152, 152);">Esta opção permite que você insira no aplicativo com um código de 6 dígitos, caso ele seja desativado, seu código de acesso será mais complexo</p>
                </div>
              </div>
              
              <div class="row" >
                <div style="border: 1px solid rgb(197, 197, 197); width: 100%; margin-bottom: 20px; margin-top: 45px;"></div>
                <button type="button" class="btn btn-primary shadow d-flex mr-auto "> <i class="fas fa-key"></i> &nbsp; Generar nova senha</button>
              </div>
            
            </div>

            <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents">
              
              <div class="row mt-3">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let file of files; let i = index">
                  <div class="card mb-3">
                    <div class="card-body">
                      <pdf-viewer [src]="pdfSrcList[i]?.preview" [render-text]="true" [original-size]="false" style="width: 100%; height: 200px"></pdf-viewer>
                      <a class="w-100 mt-3">{{ file.name }}</a>
                    </div>
                    <div class="text-white d-flex justify-content-around align-items-center p-2" style="background-color: rgb(10, 120, 255);">

                      <i class="fas fa-trash" style="cursor: pointer; text-align: center; font-size: 18px; " (click)="onRemove(file)"></i>
                      <!-- <a href="{{pdfSrcList[i]?.downloadLink}}" download="{{file.name}}" style="color: white; text-decoration: none; ">
                        <i class="fas fa-download"></i>
                      </a> -->
                      <i class="fas fa-eye" style="cursor: pointer; text-align: center; font-size: 18px; " (click)="onViewClick(file.name, i)" data-toggle="modal" data-target="#viewModal"></i>

                      <i class="fas fa-upload" style="cursor: pointer; text-align: center; font-size: 18px; " (click)="uploadDocument(file)" ></i>

                    </div>
                  </div>
                </div>
              </div>


                <ngx-dropzone (change)="onSelect($event)"  >
                  <ngx-dropzone-label>Arraste e solte os arquivos aqui ou clique para selecionar.</ngx-dropzone-label>
                </ngx-dropzone>

                <div class="card pd-20 mt-5">

                  <!-- <div class="card-tools mb-5 " style="width: 80px; margin-left: auto;" >
                      <button type="button" class="btn btn-primary btn-block shadow" data-card-widget="collapse" title="Collapse" routerLink="/dashboard/novo-usuario">
                      <i class="fas fa-plus "></i> Novo
                      </button>
                  </div> -->
                  
                  <table datatable class="row-border hover font" style="font-size: 0.9em;">
      
                      <thead>
                          <tr>
                              <th>Nome</th>
                              <th>Data</th>
                              <th>Baixar</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- Ejemplo 1: Activo -->
                          <tr *ngFor="let doc of arrDocument ">
                              <td> {{ doc.originalName }} </td>
                              <td> {{ doc.timestamp}} </td>
                              <td> <span class="badge badge-success right cursor shadow" style="padding: 6px 8px 6px 8px;" (click)="downloadPdf(doc)"> <i class="fas fa-cloud-download-alt" style="font-size: 16px;"> </i> </span> &nbsp; <span class="badge badge-danger right cursor shadow" style="padding: 6px 8px 6px 8px; " (click)="downloadPdf(doc)"> <i class="fas fa-trash-alt" style="font-size: 16px;"> </i> </span></td>
                          </tr>
      
<!--                          
                          <tr>
                              <td style="visibility: hidden;">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
                              <td style="visibility: hidden;">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
                              <td style="visibility: hidden;"> zzzzzzzzzzz</td>
                          </tr> -->
      
                      
                      </tbody>
                  </table>
              </div>


            </div>

            <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles">
              <div class="row mt-5">
                <div class="col-sm-6">
                  <!-- Primer radio (arriba) -->
                  <div class="form-group clearfix">
                    <div class="icheck-success d-inline">
                      <input type="radio" name="r3"  id="radioSuccess1" (change)="handleRoleChange('admin')">
                      <label for="radioSuccess1"> Administrador </label>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm-6">
                  <!-- Segundo radio (abajo) -->
                  <div class="form-group clearfix">
                    <div class="icheck-success d-inline">
                      <input type="radio" name="r3" id="radioSuccess2" (change)="handleRoleChange('user')">
                      <label for="radioSuccess2"> Usúario </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>



</div>

<!-- Modal Preview -->

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl justify-content-center" role="document"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel"> <a>{{fileName}}</a> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >

        <div *ngIf="loadingPdf" class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="!loadingPdf">
          <div class="embed-responsive embed-responsive-16by9">
            <pdf-viewer [src]="selectedPdfSrc?.preview" [render-text]="true" [original-size]="false" class="embed-responsive-item"></pdf-viewer>
          </div>
        </div>

      </div>
      <div class="modal-footer">


        <a *ngIf="selectedFile" [href]="selectedPdfSrc.downloadLink" download="{{selectedFile.name}}">
          <i class="fas fa-download"></i> Baixar
        </a>
        <!-- Botones y acciones del pie del modal -->
      </div>
    </div>
  </div>
</div>


 <!-- success upload -->
 <div id="custom-toast" class="alert alert-success alert-dismissible animate__animated animate__fadeIn font " *ngIf="successDocUpload">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (close)="closeToast()">&times;</button>
  <h5 class="fs-10"><i class="iicon fas fa-check"> &nbsp;</i> Sucesso!</h5>
  <span class="fs-8 w-100"> Documento enviado com sucesso!!.</span>
  <!-- <span class="fs-8 w-100"> Para verificar seu e-mail, siga as instruções que enviamos.</span> -->
  
</div>
  







