<div class="login-page font" [style.backgroundImage]="'url(' + backgroundImage + ')'" >


  <div class="login-box" *ngIf="showLogin">

    <div class="card card-outline card-primary" style="background-color: rgb(234, 243, 250, 0.9);">
      <div class="card-header text-center">
        <h1> Arcanjo Sao Rafael </h1>
        <!-- <span class="h1"><b>Arcanjo</b> &nbsp;Sao Rafael</span> -->
      </div>

      <div class="card-body">
        <p class="login-box-msg">Login</p>
  
        <form [formGroup]="myForm" class="needs-validation"  novalidate  [autocomplete]="false" (ngSubmit)="login()" >

          <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
            <input type="email" class="form-control" placeholder="Email" required [ngStyle]="( validField('email')) ? {'border':'1px solid red'}:{}" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope" style="color: rgb(0, 123, 255);"></span>
              </div>
            </div>
            <div *ngIf="validField('email')" class="invalid" > Dado obrigatório / Não tem formato de e-mail </div>
          </div>

          <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
            <input type="password" class="form-control" placeholder="Password" required [ngStyle]="( validField('password')) ? {'border':'1px solid red'}:{}" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock" style="color: rgb(0, 123, 255);"></span>
              </div>
            </div>
            <div *ngIf="validField('password')" class="invalid" > Dado obrigatório </div>
          </div>
          <!-- data-toggle="modal" data-target="#modalCode" -->
          <button type="submit" class="btn btn-primary btn-block shadow"  > Aceitar</button>
         
        </form>
  
        <div class=" fs-9 col-12 font" style="margin-top: 30px; ">
          
               <div class="d-flex justify-content-end">
                  <span class="mb-0" > <a routerLink="/register" class="text-center cursor"> <i class="fa fa-user"></i> Registrar-se</a> </span> &nbsp; &nbsp; &nbsp;

                  <span class="mb-0"> <a routerLink="/resend-password" class="text-center cursor">  <i class="fas fa-sign-in-alt" style="margin-right: 2px;"></i>  Recuperar senha</a> </span>

               </div>

         </div>
        
      </div>
      <!-- /.card-body -->
    </div>

  </div>

<!-- entre em contacto  -->
  <div style="opacity: 0.9;">
    <div class="toggle-container d-flex flex-column shadow" [ngClass]="{ 'expanded': isDivVisible }">
      <div class="d-flex justify-content-between font fs-10 p-2" >
        <p>Entre em contato conosco</p>  
        <i class="icon fas fa-plus" (click)="toggleDiv()" *ngIf="!position"></i>
        <i class="icon fas fa-minus" (click)="toggleDiv()" *ngIf="position"></i>

      </div>
      <div class="d-flex justify-content-center p-3" style="background-color: white;">

        <form [formGroup]="myForm2" class="needs-validation font fs-10 w-100"  novalidate  [autocomplete]="false" >

          <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
            <p class="custom-text w-100"> Nome </p>
            <input type="text" class="form-control"  required [ngStyle]="( validField2('fullName')) ? {'border':'1px solid red'}:{}" formControlName="fullName" >
            <div *ngIf="validField2('fullName')" class="invalid" > Dado obrigatório </div>
          </div>

          <div class="input-group mb-3 mt-1" >
            <p class="custom-text w-100"> Ordem </p>
            <select class="form-control select2 col-12 w-100" required  formControlName="headquarter" >
              <option selected="selected"> </option>
              <option>Ordem primeira</option>
              <option>Ordem segunda</option>
              
            </select>
            <div *ngIf="validField2('headquarter')" class="invalid" > Dado obrigatório </div>
          </div>

          <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
            <p class="custom-text w-100"> Digite seu email </p>
            <input type="email" class="form-control"  required [ngStyle]="( validField2('userEmail')) ? {'border':'1px solid red'}:{}" formControlName="userEmail">
            <div *ngIf="validField2('userEmail')" class="invalid" > Dado obrigatório / Não tem formato de e-mail</div>
          </div>

          <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
            <p class="custom-text w-100"> Assunto </p>
              <textarea class="form-control" formControlName="subject" style="height: 60px;"></textarea>
            <div *ngIf="validField2('subject')" class="invalid" > Dado obrigatório </div>

          </div>


          <div class="w-100">
            <button type="submit" class="btn btn-primary btn-block shadow " style="background-color: #007bff !important;" (click)="contactUs()" *ngIf="!isSending"> Enviar</button>
            <button type="button" class="btn btn-primary btn-block shadow" style="background-color: #007bff !important;" *ngIf="isSending"> Enviando...</button>
          </div>

        </form>
      </div>
    </div>

  </div>


</div>  



  <!-- Modal contact us -->
  <div class="modal fade" id="modalContactUs" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="opacity: 0.95;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"> Entre em contato conosco </h5>
          <button type="button" #closebutton  class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <form [formGroup]="myForm2" class="needs-validation"  novalidate  [autocomplete]="false" (ngSubmit)="contactUs()">

            <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
              <label class="text w-100"> Nome </label>
              <input type="text" class="form-control"  required [ngStyle]="( validField('fullName')) ? {'border':'1px solid red'}:{}" formControlName="fullName">
              <div *ngIf="validField('fullName')" class="invalid" > Dado obrigatório </div>
            </div>

            <div class="input-group mb-3 mt-1" >
              <label class="text w-100" > Ordem </label>
              <select class="form-control select2 col-12 w-100" formControlName="headquarter" >
                <option selected="selected"></option>
                <option>Ordem primeira</option>
                <option>Ordem segunda</option>
                <option>Outro</option>
                
              </select>
            </div>

            <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
              <label class="text w-100"> Digite seu email</label>
              <input type="email" class="form-control"  required [ngStyle]="( validField('userEmail')) ? {'border':'1px solid red'}:{}" formControlName="userEmail">
              <div *ngIf="validField('userEmail')" class="invalid" > Dado obrigatório / Não tem formato de e-mail </div>
            </div>

            <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
              <label class="text w-100"> Assunto </label>
                <textarea class="form-control " formControlName="subject"></textarea>
              <div *ngIf="validField('subject')" class="invalid" > Dado obrigatório </div>

            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-block shadow"  *ngIf="!isSending"> Enviar</button>
              <button type="button" class="btn btn-primary btn-block shadow"  *ngIf="isSending"> Enviando...</button>
            </div>
  
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block shadow" (click)="contactUs()" *ngIf="!isSending"> Enviar</button>
          <button type="button" class="btn btn-primary btn-block shadow"  *ngIf="isSending"> Enviando...</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal Code -->
  <button type="button" style="display: none;" data-toggle="modal" data-target="#modalCode" #openModal>Abrir Modal</button>
  <!-- <button type="button" style="display: none;" data-dismiss="modal" aria-label="Close" #closeModal>Cerrar Modal</button> -->

 <div class="modal fade" id="modalCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document"  >
    <div class="modal-content" style="background-color: rgb(234, 243, 250, 0.9);">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalCenterTitle"> Login </h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form [formGroup]="myFormCode" class="needs-validation"  novalidate  [autocomplete]="false">

          <div class="alert alert-success alert-dismissible" style="font-size: 0.9em;">
            <h5><i class="icon fas fa-check"></i> Código de acceso enviado!</h5>
             Um NOVO código de acceso foi enviado para o seu e-mail. 
            <p> (Cada vez que for acessar a página, será enviado um código diferente). </p>
          </div>

          <div class="input-group mb-3" >
            <label class="text w-100"> Insira este código no quadro abaixo para continuar </label>
              <input class="form-control " formControlName="code" [ngStyle]="( validFieldCode('code')) ? {'border':'1px solid red'}:{}" >
            <div *ngIf="validFieldCode('code')" class="invalid" > Dado obrigatório </div>

          </div>
          <div *ngIf="showCron">
            <p class="font fs-10" *ngIf="codeTimeRemaining && codeTimeRemaining !== 0"> <b> Faltam {{codeTimeRemaining | date: 'mm:ss'}} minutos para expirar o código. </b> </p>
            <p class="font fs-10" style="color: red;" *ngIf="codeTimeRemaining === 0">
              <b>O código expirou. Por favor, solicite um novo código.</b>
            </p>
          </div>
        </form>
        


      </div>
      <div class="modal-footer">

        <div class="d-flex justify-content-start w-100" *ngIf="wrongCode">
        <i class="icon fas fas fa-user-lock" style="color: red;"></i> &nbsp;
          <span class="font fs-10" style="color: red;"> {{ msg }} </span> 
        </div>

        <button type="button" class="btn btn-primary btn-block shadow" (click)="doubleAuth()" *ngIf="!sendingAuth"> Continuar</button>
        <button type="button" class="btn btn-primary btn-block shadow "   *ngIf="sendingAuth"> <span class="animate__animated  animate__flash" #flash>Enviando ...</span></button>
        <div class="d-flex flex-column align-items-end mb-3" style="margin-top: 30px;">
      
     
          <div >
          
            <span class="mb-0" > <a class="text-center cursor" (click)="resendCode()"> <i class="fas fa-reply-all fa-flip-horizontal"></i>         
              Reenviar</a> </span>
            &nbsp; &nbsp;
        </div>  
       </div>
      </div>

  
   
    </div>
  </div>
</div>

  <!-- no verified email -->
  <div id="custom-toast" class="alert alert-warning alert-dismissible animate__animated animate__fadeIn font" *ngIf="noVerified">
    <button type="button" class="close"#closeNoVerifiedEmail  data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5 ><i class="icon fas fa-exclamation-triangle"></i> Email não verificado!</h5>
    <span class="fs-11"> Já enviamos um email de confirmação. Precisa que enviemos novamente?</span>

    <form [formGroup]="myFormResend" class="needs-validation mt-1"  novalidate  [autocomplete]="false"  >
  
        <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">

          <input type="email" class="form-control fs-10" placeholder="Email" required [ngStyle]="( validFieldResend('resendEmail')) ? {'border':'1px solid red'}:{}" formControlName="resendEmail">
          
          <div class="input-group-append">
            <div class="input-group-text fs-8">
              <span class="fas fa-envelope" style="color: rgb(0, 123, 255);"></span>
            </div>
          </div>
          <div *ngIf="validFieldResend('resendEmail')" class="invalid fs-10" > Dado obrigatório / Não tem formato de e-mail </div>
        </div>
        
        <button type="button" class="btn btn-primary shadow fs-11 w-100" (click)="verifyEmail()" >
            Enviar
        </button>
    
      </form>


  </div>
  
  <!-- success verify email -->
  <div id="custom-toast" class="alert alert-success alert-dismissible animate__animated animate__fadeIn font " *ngIf="successResendVerify">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5 ><i class="iicon fas fa-check"> &nbsp;</i> Sucesso!</h5>
    <span class="fs-11 w-100"> Email enviado com sucesso!!.</span>
    <span class="fs-11 w-100"> Para verificar seu e-mail, siga as instruções que enviamos.</span>
    
  </div>

  <!-- no role - no ative -->
  <div id="custom-toast" class="alert alert-warning alert-dismissible animate__animated animate__fadeIn font" *ngIf="noRole" style="width: 380px; font-size: 0.9em;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="closeToast()">&times;</button>
    <h5 ><i class="icon fas fa-exclamation-triangle"></i> Sua conta não foi ativada</h5>
    <span class="fs-12"> Nossos administradores estão em processo de ativar sua conta. </span>
  </div>

  <!-- success contact-us -->
  <div id="custom-toast" class="alert alert-success alert-dismissible font" [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="successContactUs" style="width: 380px; font-size: 0.9em;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5 ><i class="icon fas fa-exclamation-triangle"></i> Sucesso!</h5>
    <span class="fs-12"> Em breve entraremos em contato </span>
  </div>

<!-- 500 status Nao encontrado -->
<div id="custom-toast" class="alert alert-danger alert-dismissible" [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="show500"  >
<button type="button" class="close" (click)="closeToast()" data-dismiss="alert" aria-hidden="true">&times;</button>
<h5 ><i class="icon fas fas fa-user-lock"></i> Espere!</h5>
{{msg}}
</div>




  <div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
      <span class="sr-only">Loading...</span>
    </div>
  </div> 

  