
.login-page{
     background-image: url('../../../assets/background-1.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size:cover;
}

.animate__animated.animate__flash {
  --animate-duration: 5s;
  --animate-delay: 0.1s;
}


.invalid{
     color: red; 
     margin-top: 5px;
     width: 100%;
     margin-left: 5px;
   }

#custom-toast {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 15px;
  border-radius: 10px;
  width: 380px;
}

.icon{
  cursor: pointer;
}

.toggle-container {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 400px;
  height: 35px;
  background-color: #007bff;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 999;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;

}

.expanded {
  // height: 520px; 
  height: auto;
}

.custom-text{
  color: rgb(108, 108, 108);
}



@media (max-width: 576px) {
  
  #custom-toast {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

}


 
   @media (min-width: 576px) {
     .login-box {
       width: 500px;
     }

  
    
   }