
.login-page{
     background-image: url('../../../assets/background-1.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
}

.invalid{
     color: red; 
     margin-top: 5px;
     width: 100%;
     margin-left: 5px;
   }
 
   @media (min-width: 576px) {
     .login-box {
       width: 500px;
     }
   }