
.login-page{
     background-image: url('../../../assets/background-1.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size:cover;
}

.invalid{
     color: red; 
     margin-top: 5px;
     width: 100%;
     margin-left: 5px;
   }

#custom-toast {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 15px;
  border-radius: 10px;
  // opacity: 0.87 !important;
}


@media (max-width: 576px) {
  
  #custom-toast {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    border-radius: 10px;
    transform: scale(0.94);
  }
}


 
   @media (min-width: 576px) {
     .login-box {
       width: 500px;
     }

  
    
   }