

<div class="card col-12 table-responsive" style="padding: 12px; padding-top: 20px; background-color: white;">

  <div class="card-tools font mb-5" style="margin-left: auto;" >
    <button type="button" class="btn btn-primary btn-block shadow rotate" data-card-widget="collapse" title="Collapse" data-toggle="modal" data-target="#modalNewGroup">
      <i class="fas fa-plus "></i> Novo Grupo
    </button>
  </div>
  
  <div class="customTHead w-100 shadow"></div>

    <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover font fs-11 " #table >

        <thead >
            <tr >
                <th>Nome grupo</th>
                <th style="width: 60%;">Descrição</th>
                <th style="width: 10%;">Ação</th>
            </tr>
        </thead>
        <tbody *ngIf="groups.length !== 0">
            <tr *ngFor="let group of groups">
                <td> 
                    <p class="selected" (click)="getUsersGroup(group)" data-toggle="modal" data-target="#modalViewGroup"> {{ group.name }}
                    
                    </p> 
                </td>
                <td> {{ group.description }} </td>
                <td> 
                  <i class="fas fa-pencil-alt" style="cursor: pointer; text-align: center; font-size: 19px;  color: rgb(255, 200, 0); margin-right: 5px;"(click)="editGroup(group)"  data-toggle="modal" data-target="#modalEditGroup" [ngbTooltip]="'Editar alarme'"  ></i>
        
                    <i class="fas fa-trash " style="cursor: pointer; text-align: center; font-size: 18px;  color: red; margin-left: 5px;" data-toggle="modal" data-target="#modalAskDelGroup" (click)="onRemove(group)" [ngbTooltip]="'Remover alarme'" ></i>
                </td>
            </tr>

       

        
        </tbody>
    </table>
</div>


 <!-- Modal New Group -->
 <div class="modal fade font" id="modalNewGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title font" id="exampleModalCenterTitle"> Novo Grupo </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form [formGroup]="myForm" class="needs-validation "  novalidate  [autocomplete]="false" >

          <div class="input-group mb-4" >
            <label class="text w-100"> Nome do grupo </label>
            <div class="input-group mb-3">
              <input type="text" class="form-control"  formControlName="name" required [ngStyle]="( validField('name')) ? {'border':'1px solid red'}:{}">
              <div *ngIf="validField('name')" class="invalid" > Dado obrigatório </div>
            </div>
          </div>

          <div class="input-group mb-4" >
            <label class="text w-100"> Description </label>
            <div class="input-group mb-3">
              <input type="text" class="form-control"  formControlName="description" required [ngStyle]="( validField('description')) ? {'border':'1px solid red'}:{}">
              <div *ngIf="validField('description')" class="invalid" > Dado obrigatório </div>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer ">

        <button type="button" class="btn btn-primary btn-block shadow mt-3" (click)="onSave()"> Criar grupo</button>
        <div class="d-flex flex-column align-items-end mb-3" style="margin-top: 30px;">
     
          <!-- <div >
            <span class="mb-0" style="margin-right: 15px;"> <a href="register.html" class="text-center">  <i class="fas fa-window-close" style="margin-right: 2px;"></i>  Cancelar</a> </span>
            <span class="mb-0" > <a routerLink="../register" class="text-center cursor"> <i class="fas fa-reply-all fa-flip-horizontal"></i>         
              Reenviar</a> </span>
            &nbsp; &nbsp;
        </div>   -->
       </div>
      </div>

  
   
    </div>
  </div>
</div>

 <!-- Modal Edit Group -->
 <div class="modal fade font" id="modalEditGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog modal-dialog-centered fomt fs-12" role="document" >
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title font fs-12" id="exampleModalCenterTitle"> Editar Grupo </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton2>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form [formGroup]="myFormEdit" class="needs-validation "  novalidate  [autocomplete]="false" >

          <div class="input-group mb-4" >
            <label class="text w-100"> Nome do grupo </label>
            <div class="input-group mb-3">
              <input type="text" class="form-control"  formControlName="editName" required [ngStyle]="( validFieldEdit('editName')) ? {'border':'1px solid red'}:{}">
              <div *ngIf="validFieldEdit('editName')" class="invalid" > Dado obrigatório </div>
            </div>
          </div>

          <div class="input-group mb-4" >
            <label class="text w-100"> Description </label>
            <div class="input-group mb-3">
              <input type="text" class="form-control"  formControlName="editDescription" required [ngStyle]="( validFieldEdit('editDescription')) ? {'border':'1px solid red'}:{}">
              <div *ngIf="validFieldEdit('editDescription')" class="invalid" > Dado obrigatório </div>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer ">

        <button type="button" class="btn btn-primary btn-block shadow mt-3" (click)="saveEdition()"> Editar grupo</button>
        <div class="d-flex flex-column align-items-end mb-3" style="margin-top: 30px;">
     
          <!-- <div >
            <span class="mb-0" style="margin-right: 15px;"> <a href="register.html" class="text-center">  <i class="fas fa-window-close" style="margin-right: 2px;"></i>  Cancelar</a> </span>
            <span class="mb-0" > <a routerLink="../register" class="text-center cursor"> <i class="fas fa-reply-all fa-flip-horizontal"></i>         
              Reenviar</a> </span>
            &nbsp; &nbsp;
        </div>   -->
       </div>
      </div>

  
   
    </div>
  </div>
</div>

 <!-- Modal View Group -->
 <div class="modal fade font" id="modalViewGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font" id="exampleModalCenterTitle"> {{ selectedGroup.name }} <label class="font fs-9" style="color: rgb(106, 106, 106); font-weight: 100;"> ({{ selectedGroup.length }} membros) </label></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton3 >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
          <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2" class="row-border hover font fs-12 " #table3 >

            <thead class="">
              <tr>
                <th scope="col" style="width: 30%;">Imagem</th>
                <th scope="col " style="width: 300px;">Nome Completo</th>
                <th scope="col " style="width: 10%;">Status</th>
              </tr>
            </thead>
  
            <tbody class="font fs-11" *ngIf="usersGroup.length > 0">
              <tr *ngFor="let user of usersGroup">
                <td> 
                  <img [src]="user | imagenPath" class="img-fluid br-6" width="50px" style="border-radius: 7px;" *ngIf="user.Ruta_Imagen !== '' && user.Ruta_Imagen !== null">
                  <img src="assets/no-image.jpg" class="img-fluid br-6 " width="50px" *ngIf="user.Ruta_Imagen == '' || !user.Ruta_Imagen">
               </td>
        
                <td class="d-flex align-items-center " >
                  <a class="mt-3 cursor" (click)="selectUser(user)" data-toggle="modal" data-target="#modalFichaCompleta"> {{ user.Nome_Completo }} </a>
                </td>
  
                <td>
                  <i class="fas fa-trash " style="cursor: pointer; text-align: center; font-size: 18px;  color: red; margin-left: 5px;" data-toggle="modal" data-target="#modalAskDelUserFromGroup" (click)="removeUserFromGroup(user)" ></i>
                </td>
              </tr>
            </tbody>
            
        </table>
      </div>
      <div class="modal-footer ">
      </div>

  
   
    </div>
  </div>
</div>


  <!-- ask delete group -->
  <div class="modal fade" id="modalAskDelGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fas fa-exclamation-triangle" style="color: red; font-size: 40px;"></i>
          <button type="button"   class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <h6 class="font fs-11">Tem certeza de que deseja excluir este grupo?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-block shadow" (click)="continue()" data-dismiss="modal" aria-label="Close"> Continuar</button>
          <!-- <button type="button" class="btn btn-primary btn-block shadow"  *ngIf="isSending"> Enviando...</button> -->

        </div>

      </div>
    </div>
  </div>

<!-- ask delete user fromgroup -->
<div class="modal fade" id="modalAskDelUserFromGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fas fa-exclamation-triangle" style="color: red; font-size: 40px;"></i>
        <button type="button"   class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h6 class="font fs-11">Há certeza de que deseja excluir este usuário do grupo?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-block shadow" (click)="continueUserDel()" data-dismiss="modal" aria-label="Close"> Continuar</button>
        <!-- <button type="button" class="btn btn-primary btn-block shadow"  *ngIf="isSending"> Enviando...</button> -->

      </div>

    </div>
  </div>
</div>

  <!-- success delete group -->
 <div id="custom-toast" class="alert alert-success alert-dismissible font " [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="showSuccess">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (close)="closeToast()">&times;</button>
  <h5 ><i class="iicon fas fa-check"> &nbsp;</i> Sucesso!</h5>
  <span class="fs-11 w-100"> {{msg}}</span>
  <!-- <span class="fs-8 w-100"> Para verificar seu e-mail, siga as instruções que enviamos.</span> -->
</div>

    <!-- success create group -->
 <div id="custom-toast" class="alert alert-success alert-dismissible font " [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="showSuccessCreateGroup">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (close)="closeToast()">&times;</button>
  <h5><i class="iicon fas fa-check"> &nbsp;</i> Sucesso!</h5>
  <span class="fs-11 w-100"> {{msg}}</span>
  <!-- <span class="fs-8 w-100"> Para verificar seu e-mail, siga as instruções que enviamos.</span> -->
</div>

  <!-- Modal Ficha completa-->
  <div class="modal fade" id="modalFichaCompleta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false" >

    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding: 20px;">
          <h5 class="modal-title font" id="exampleModalCenterTitle"> Ficha completa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalViewGroup()">
            <span aria-hidden="true">&times;</span>
          </button>
      
        </div>
        <div class="modal-body">

          <app-view-congregati *ngIf="show" [userFromGroup]="user"></app-view-congregati>
         

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block shadow" style="width: 100px;" data-dismiss="modal" aria-label="Close" #closebutton > Sair</button>
        </div>

      
      </div>
    </div>
</div>


<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
    <span class="sr-only">Loading...</span>
  </div>
</div> 

