<div class="row">
    <div class="col-lg-12">
       
        <div class="card pd-20">

            <div class="card-tools mb-5 " style="width: 80px; margin-left: auto;" >
                <button type="button" class="btn btn-primary btn-block shadow" data-card-widget="collapse" title="Collapse" routerLink="/dashboard/novo-usuario">
                <i class="fas fa-plus "></i> Novo
                </button>
            </div>

            <div *ngIf="users.length !== 0">
                <table datatable [dtOptions]="dtOptions"  class="row-border hover font" #table >

                    <thead class="fs-9">
                        <tr >
                            <th style="width: 40px;">Img</th>
                            <th style="width: 350px;">Nome</th>
                            <th style="width: 350px;">Endereço de email</th>
                            <th style="width: 40px;">Ativo</th>
                        </tr>
                    </thead>
                    <tbody class="fs-8">
                        <tr *ngFor="let user of users">
                            <td> 
                                <img [src]="user.Ruta_Imagen" class="img-fluid" width="40px" *ngIf="user.Ruta_Imagen !== '' ">
                                <img src="assets/no-image.jpg" class="img-fluid" width="50px" *ngIf="user.Ruta_Imagen == '' || !user.Ruta_Imagen">
                             </td>
                            <td >
                                <div [routerLink]="['/dashboard/editar-usuario/', user.iduser]" >  
                                    <label *ngIf="user.Nome_Completo !== '' " class="selected"> {{ user.Nome_Completo}} </label> 
                                </div>
                            </td>
                            <td>{{ user.Email }} </td>
                            <td> 
                                <span class="badge badge-success right" style="padding: 8px 10px 8px 10px;" *ngIf="user.active"> Sim </span>
                                <span class="badge badge-danger right"  style="padding: 8px 10px 8px 10px;"*ngIf="!user.active"> Não </span>
                            </td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
      <span class="sr-only">Loading...</span>
    </div>
  </div> 
  
  
  
  
  
  