body .bs-datepicker-container .bs-datepicker-head {
    background-color: #f10d0d;
  }
  body .bs-datepicker-container .bs-datepicker-head * {
    color: #830909;
  }

  .login-page {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

  .invalid{
    color: red; 
    margin-top: 5px;
    width: 100%;
    margin-left: 5px;
  }

  #custom-toast {
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 350px; 
    font-size: 0.85em;
  }
  

  @media (max-width: 576px) {
  
    #custom-toast {
      position: fixed;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      padding: 15px;
      border-radius: 10px;
      width: 350px; 
    }
  }

  @media (min-width: 576px) {
    .register-box {
      width: 500px;
    }
  }