<div class="login-page" style="background-image: url('../../../assets/background-1.jpg');">
  <div class="register-box"  style="">

    <!-- /.login-logo -->
    <div class="card card-outline card-primary" style="background-color: rgb(234, 243, 250, 0.9);">
      <div class="card-header text-center">
        <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">- Registrar-se -</p>
  
        <form [formGroup]="myForm" class="needs-validation"  novalidate  >

          <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
            <input type="text" class="form-control" placeholder="Nome" formControlName="name" required [ngStyle]="( validField('name')) ? {'border':'1px solid red'}:{}"  >
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fa fa-user" style="color: rgb(0, 123, 255);"></i>
              </div>
            </div>
            <div *ngIf="validField('name')" class="invalid" > Dado obrigatório </div>
          </div>

          <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
            <input type="text" class="form-control" placeholder="Sobrenome" formControlName="lastName"  required [ngStyle]="( validField('lastName')) ? {'border':'1px solid red'}:{}">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fa fa-user" style="color: rgb(0, 123, 255);"></i>
              </div>
            </div>
            <div *ngIf="validField('lastName')" class="invalid" > Dado obrigatório </div>
          </div>

          <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
            <input type="email" class="form-control" placeholder="Email" formControlName="email" required [ngStyle]="( validField('email')) ? {'border':'1px solid red'}:{}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope" style="color: rgb(0, 123, 255);"></span>
              </div>
            </div>
            <div *ngIf="validField('email')" class="invalid" > Dado obrigatório / Não tem formato de e-mail </div>

          </div>

          <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
            <div class="input-group date" >
              <input type="text"
                placeholder="Data de nascimento"
                class="form-control datetimepicker-input"
                bsDatepicker
                [bsValue]="bsValue"
                [minDate]="minDate"
                [maxDate]="maxDate"
                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }"
                formControlName="Data_Nascimento" required [ngStyle]="( validField('Data_Nascimento')) ? {'border':'1px solid red'}:{}">
              <div class="input-group-append"  >
                <div class="input-group-text"><i class="fa fa-calendar" style="color: rgb(0, 123, 255);"></i></div>
              </div>
            </div>
            <div *ngIf="validField('Data_Nascimento')" class="invalid" > Dado obrigatório </div>

          </div>
          

         <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Telefone" formControlName="Telefone1" required [ngStyle]="( validField('Telefone1')) ? {'border':'1px solid red'}:{}">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fas fa-mobile-alt" style="color: rgb(0, 123, 255);"></i>
              </div>
            </div> 
            <div *ngIf="validField('Telefone1')" class="invalid" > Dado obrigatório </div>

          </div> 

          <!-- sede -->
        <p class="login-box-msg"> - Sede -</p>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nome da sede" required formControlName="Nome_da_sede" required [ngStyle]="( validField('Nome_da_sede')) ? {'border':'1px solid red'}:{}">
        
            <div *ngIf="validField('Nome_da_sede')" class="invalid" > Dado obrigatório </div>

          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Cidade da sede" formControlName="Cidade_da_sede" required [ngStyle]="( validField('Cidade_da_sede')) ? {'border':'1px solid red'}:{}">
            <div *ngIf="validField('Cidade_da_sede')" class="invalid" > Dado obrigatório </div>

          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Pais da sede" formControlName="Pais_da_sede" required [ngStyle]="( validField('País_da_sede')) ? {'border':'1px solid red'}:{}">
            <div *ngIf="validField('Pais_da_sede')" class="invalid" > Dado obrigatório </div>
          </div>
          <button type="submit" style="display: none;"></button>
 

    
        </form>

    
  
         <div style="display: flex; align-items: end; justify-content: end; margin-top: 30px;" >

            
            <span class="mb-0" > <a routerLink="../register" class="text-center" (click)="register()" > <i class="fa fa-user"></i> Registrar-se</a> </span>
            &nbsp; &nbsp;
            <span class="mb-0"> <a routerLink="/login" class="text-center">  <i class="fas fa-sign-in-alt" style="margin-right: 2px;"></i>  Já tenho registro </a> </span>

         </div>
  
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>  


<!-- success contact-us -->
<div id="custom-toast" class="alert alert-success alert-dismissible animate__animated animate__fadeIn font" *ngIf="succesSignup" >
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h5 ><i class="icon fas fa-check"></i> Sucesso!</h5>
  <span class="fs-12"> Enviamos um e-mail de verificação, por favor, acesse o link. </span>
  <!-- <p class="cursor mt-1" style="color: blue;" data-toggle="modal" data-target="#exampleModalCenter">Entre em contato conosco</p> -->
</div>



<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
    <span class="sr-only">Loading...</span>
  </div>
</div> 

  
