


<div class="login-page"  >
    <div class="login-box" *ngIf="showLogin">
  
      <!-- /.login-logo -->
      <div class="card card-outline card-primary" style="background-color: rgb(234, 243, 250, 0.9);">
        <div class="card-header text-center">
          <span class="h1"><b>Admin</b>LTE</span>
        </div>
        <div class="card-body">
          <p class="login-box-msg ">Vamos reenviar a senha para você.</p>
    
          <form [formGroup]="myForm" class="needs-validation"  novalidate  [autocomplete]="false"  (ngSubmit)="reSendEmailPassword()">
  
            <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
              <input type="email" class="form-control" placeholder="Email" required [ngStyle]="( validField('email')) ? {'border':'1px solid red'}:{}" formControlName="email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope" style="color: rgb(0, 123, 255);"></span>
                </div>
              </div>
              <div *ngIf="validField('email')" class="invalid" > Dado obrigatório </div>
            </div>
               
               <div class="col-12 d-flex justify-content-end mt-2">
                
                <span class="mb-0 mt-3"> <a  routerLink="/login" href="" class="text-center"  >  <i class="fas fa-sign-in-alt" style="margin-right: 2px;"></i>  Ir al login</a> </span>

               </div>
            
            <button type="submit" class="btn btn-primary shadow mt-5 w-100"  >
                Enviar
            </button>
        
          </form>
    
          
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>  

    <!-- success resend password -->
    <div id="custom-toast" class="alert alert-success alert-dismissible animate__animated animate__fadeIn font" *ngIf="successResendPass" style="width: 380px; font-size: 0.9em;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5> <i class="icon fas fa-exclamation-triangle"></i> Sucesso!</h5>
        <span class="fs-12"> Pronto para fazer login! </span>
        <!-- <p class="cursor mt-1" style="color: blue;" data-toggle="modal" data-target="#modalCode">Digite a senha</p> -->
      </div>

      <!-- no verified email -->
  <div id="custom-toast" class="alert alert-warning alert-dismissible animate__animated animate__fadeIn font" *ngIf="noVerified">
    <button type="button" class="close"#closeNoVerifiedEmail  data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><i class="icon fas fa-exclamation-triangle"></i> Email não verificado!</h5>
    <span class="fs-11 w-100" >Já enviamos um email de confirmação. Precisa que enviemos novamente?</span>

    <form [formGroup]="myFormResend" class="needs-validation mt-1"  novalidate  [autocomplete]="false" >
  
        <div class="input-group mb-3" [ngClass]="{'was-validated': submitted}">
          <input type="email" class="form-control fs-10" placeholder="Email" required [ngStyle]="( validFieldResend('resendEmail')) ? {'border':'1px solid red'}:{}" formControlName="resendEmail">
          <div class="input-group-append">
            <div class="input-group-text fs-8">
              <span class="fas fa-envelope" style="color: rgb(0, 123, 255);"></span>
            </div>
          </div>
          <div *ngIf="validFieldResend('resendEmail')" class="invalid fs-8" > Dado obrigatório </div>
        </div>
        
        <button type="button" class="btn btn-primary shadow fs-9 w-100" (click)="verifyEmail()" >
            Enviar
        </button>
    
      </form>


  </div>

  
  <!-- success verify email -->
  <div id="custom-toast" class="alert alert-success alert-dismissible animate__animated animate__fadeIn font " *ngIf="successResendVerify">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><i class="iicon fas fa-check"> &nbsp;</i> Sucesso!</h5>
    <span class="fs-11 w-100"> Email enviado com sucesso!!.</span>
    <span class="fs-11 w-100"> Para verificar seu e-mail, siga as instruções que enviamos.</span>
    
  </div>
    
  
      <div class="loading-overlay" *ngIf="isLoading">
        <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
          <span class="sr-only">Loading...</span>
        </div>
      </div> 
    
      