

<div class="card col-12 table-responsive" style="padding: 12px; padding-top: 20px; background-color: white;">

    <div class="card-tools font mb-5" style="margin-left: auto;" >
      <button type="button" class="btn btn-primary btn-block shadow rotate" data-card-widget="collapse" title="Collapse" data-toggle="modal" data-target="#modalNewGroup" (click)="fileUploader.click()">
        <i class="fas fa-plus " ></i> Novo 
      </button>
    </div>

    <div style="display: none;">
      <input type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png" #fileUploader />
    </div>

    
<table class="table table-striped table-hover">
    <thead class="">
        <tr>
          <th scope="col" style="width: 20%;"> # </th>
          <th scope="col" style="width: 60%;"> Imagem </th>
          <th scope="col " style="width: 20%;text-align: end;"> Status </th>
          <th scope="col" style="width: 20%;"> Ação </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pic of arrBackground">
          <th scope="row"> {{ pic.idbackground }}  </th>
          <td> <img [src]="[pic.filePath]" alt="" class="img-fluid"></td>
          <td class="d-flex justify-content-end" style="padding: 0px !important;"> 
              <div class="custom-control custom-switch d-flex align-items-center justify-content-center" style="margin-right: 10px;" >
                <input type="checkbox" class="custom-control-input "  id="customSwitch{{ pic.idbackground }}" (change)="backgroundOption($event, pic.idbackground)" [checked]="pic.active">
                <label class="custom-control-label cursor" for="customSwitch{{ pic.idbackground }}"></label>
              </div>
          </td>
          <td>
            <i class="fas fa-trash " style="cursor: pointer; text-align: center; font-size: 18px;  color: red; margin-left: 5px;" data-toggle="modal" data-target="#modalAskDelBackground" (click)="removePicture(pic)"></i>
        </td>
        </tr>
      
  </table>

</div>

  <!-- ask delete background -->
  <div class="modal fade" id="modalAskDelBackground" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="opacity: 0.85; ">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fas fa-exclamation-triangle" style="color: red; font-size: 40px;"></i>
          <button type="button"   class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <h6 class="font fs-11">Tem certeza de que deseja excluir este fundo?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-block shadow" (click)="continue()" data-dismiss="modal" aria-label="Close"> Continuar</button>
          <!-- <button type="button" class="btn btn-primary btn-block shadow"  *ngIf="isSending"> Enviando...</button> -->

        </div>

      </div>
    </div>
  </div>

   <!-- success  -->
 <div id="custom-toast" class="alert alert-success alert-dismissible font shadow" [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="showSuccess">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (close)="closeToast()">&times;</button>
  <h5><i class="iicon fas fa-check"> &nbsp;</i> Sucesso!</h5>
  <span class="fs-11 w-100"> {{msg}}</span>
  <!-- <span class="fs-8 w-100"> Para verificar seu e-mail, siga as instruções que enviamos.</span> -->
</div>


<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
    <span class="sr-only">Loading...</span>
  </div>
</div> 




