

<div class="card col-12 table-responsive" style="padding: 12px; padding-top: 20px; background-color: white;">

    <div class="card-tools font mb-5" style="margin-left: auto;" >
      <button type="button" class="btn btn-primary btn-block shadow rotate" data-card-widget="collapse" title="Collapse" data-toggle="modal" data-target="#modalNewGroup">
        <i class="fas fa-plus "></i> Novo 
      </button>
    </div>

    
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
  </table>

</div>



<table class="table table-striped table-hover">
    ...
  </table>