<div class="row">
    <div class="col-lg-12">
       
        <div class="card" style="padding: 20px;">

            <div class="card-tools mb-5" style="width: 80px; margin-left: auto;" >
                <button type="button" class="btn btn-primary btn-block shadow" data-card-widget="collapse" title="Collapse" routerLink="/dashboard/novo-cliente">
                <i class="fas fa-plus"></i> Novo
                </button>
            </div>
            
            <table datatable class="row-border hover">

                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Condição</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Ejemplo 1: Activo -->
                    <tr>
                        <td><a routerLink="/dashboard/editar-clientes/1"> Cliente 1 </a></td>
                        <td>cliente1@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>
                    </tr>

                    <!-- Ejemplo 2: Inactivo -->
                    <tr>
                        <td><a routerLink="/dashboard/editar-clientes/2"> Cliente 2 </a></td>
                        <td>cliente2@example.com</td>
                        <td> <span class="badge badge-danger right" style="padding: 8px 15px 8px 15px;">Inativo</span></td>

                    </tr>

                    <!-- Ejemplo 3: Activo -->
                    <tr>
                        <td><a routerLink="/dashboard/editar-clientes/3"> Cliente 3 </a></td>
                        <td>cliente3@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                    <!-- Ejemplo 4: Inactivo -->
                    <tr>
                        <td><a routerLink="/dashboard/editar-clientes/4"> Cliente 4</a></td>
                        <td>cliente4@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                    <!-- Ejemplo 5: Activo -->
                    <tr>
                        <td><a routerLink="/dashboard/editar-clientes/6"> Cliente 6 </a></td>
                        <td>cliente5@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                    <!-- Ejemplo 6: Inactivo -->
                    <tr>
                        <td> <a routerLink="/dashboard/editar-clientes/7"> Cliente 7 </a> </td>
                        <td>cliente6@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                    <!-- Ejemplo 7: Activo -->
                    <tr>
                        <td> <a routerLink="/dashboard/editar-clientes/8"> Cliente 8 </a> </td>
                        <td>cliente7@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                    <!-- Ejemplo 8: Inactivo -->
                    <tr>
                        <td> <a routerLink="/dashboard/editar-clientes/9"> Cliente 9 </a> </td>
                        <td>cliente8@example.com</td>
                        <td> <span class="badge badge-danger right" style="padding: 8px 15px 8px 15px;">Inativo</span></td>
                    </tr>

                    <!-- Ejemplo 9: Activo -->
                    <tr>
                        <td> <a routerLink="/dashboard/editar-clientes/10"> Cliente 10 </a> </td>
                        <td>cliente9@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>
                    </tr>

                    <tr>
                        <td style="visibility: hidden;">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
                        <td style="visibility: hidden;">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
                        <td style="visibility: hidden;"> zzzzzzzzzzz</td>
                    </tr>

                
                </tbody>
            </table>
        </div>
    </div>
</div>
