<div class="row">
    <div class="col-lg-12">
        <div class="card" style="padding: 20px;">

            <h3 style="margin-bottom: 40px;">Clientes</h3>
            <table datatable class="row-border hover">


                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Condição</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Ejemplo 1: Activo -->
                    <tr>
                        <td>Cliente 1</td>
                        <td>cliente1@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>
                    </tr>

                    <!-- Ejemplo 2: Inactivo -->
                    <tr>
                        <td>Cliente 2</td>
                        <td>cliente2@example.com</td>
                        <td> <span class="badge badge-danger right" style="padding: 8px 15px 8px 15px;">Inativo</span></td>

                    </tr>

                    <!-- Ejemplo 3: Activo -->
                    <tr>
                        <td>Cliente 3</td>
                        <td>cliente3@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                    <!-- Ejemplo 4: Inactivo -->
                    <tr>
                        <td>Cliente 4</td>
                        <td>cliente4@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                    <!-- Ejemplo 5: Activo -->
                    <tr>
                        <td>Cliente 5</td>
                        <td>cliente5@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                    <!-- Ejemplo 6: Inactivo -->
                    <tr>
                        <td>Cliente 6</td>
                        <td>cliente6@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                    <!-- Ejemplo 7: Activo -->
                    <tr>
                        <td>Cliente 7</td>
                        <td>cliente7@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                    <!-- Ejemplo 8: Inactivo -->
                    <tr>
                        <td>Cliente 8</td>
                        <td>cliente8@example.com</td>
                        <td> <span class="badge badge-danger right" style="padding: 8px 15px 8px 15px;">Inativo</span></td>
                    </tr>

                    <!-- Ejemplo 9: Activo -->
                    <tr>
                        <td>Cliente 9</td>
                        <td>cliente9@example.com</td>
                        <td> <span class="badge badge-success right" style="padding: 8px 20px 8px 20px;">Ativo</span></td>

                    </tr>

                
                </tbody>
            </table>
        </div>
    </div>
</div>
