

<router-outlet></router-outlet>

 <!-- 400 status -->
  <div id="custom-toast" class="alert alert-danger alert-dismissible " [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="show400"  >
    <button type="button" class="close" (click)="closeToast()" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5 ><i class="icon fas fas fa-ban"></i> Erro!</h5>
    <span class="font fs-12 w-100"> {{msg}} </span> 
  </div>

   <!-- 401 status -->
   <div id="custom-toast" class="alert alert-danger alert-dismissible" [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="show401"  >
    <button type="button" class="close" (click)="closeToast()" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5 ><i class="icon fas fas fa-user-lock "></i> Credenciais incorretas!</h5>
   
    <span class="font fs-12 w-100"> {{msg}}. Você tem mais {{ remainingAttemps}} tentativas para inserir a senha corretamente</span>
    </div>

       <!-- 500 status -->
   <div id="custom-toast" class="alert alert-danger alert-dismissible" [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="show500"  >
    <button type="button" class="close" (click)="closeToast()" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5 ><i class="icon fas fas fa-user-lock"></i> Credenciais incorretas!</h5>
    {{msg}}
    </div>


    
   <!-- 429 status -->
  <div id="custom-toast" class="alert alert-danger alert-dismissible" [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="show429"  >
      <button type="button" class="close" (click)="closeToast()" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h5 ><i class="icon fas fas fa-user-lock"></i> Espere!</h5>
      {{msg}}
  </div>

        
   <!-- showBackDown -->
   <div id="custom-toast" class="alert alert-danger alert-dismissible" [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="showBackDown"  >
    <button type="button" class="close" (click)="closeToast()" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5 ><i class="icon fas fa-server"></i> Servidor fora do ar!</h5>
    {{msg}}
    </div>







