
<div class="row" style="padding: 12px;">
  <div class="card-tools font" style="margin-left: auto;" >
    <button type="button" class="btn btn-primary btn-block shadow p-2" data-toggle="modal" data-target="#modalNova">
    <i class="fas fa-plus "></i> Nova alarme
    </button>
  </div>
   
</div>


<div class="row mt-4">
       
        <div class="card col-12 table-responsive" style="padding: 12px; padding-top: 20px; background-color: white; ">

          <div class="customTHead shadow font"> Alarmes pessoales</div>

          <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2" class="row-border hover font fs-10" #table >

                <thead >
                    <tr >
                        <th style="width: 10%;">Nome</th>
                        <th style="width: 10%;" >Nome alarme</th>
                        <th style="width: 55%;">Texto do alarme</th>
                        <th style="width: 10%;">Data</th>
                        <th style="text-align: center; width: 15%;">Ação</th>
                    </tr>
                </thead>
                <tbody *ngIf="personalAlarms.length !== 0">
                    <tr *ngFor="let pes of personalAlarms">
                        <td ><a [routerLink]="['/dashboard/editar-usuario/',pes.iduser]"> {{pes.Nome_Completo }} </a></td>
                        <td > {{ pes.name }} </td>
                        <td > {{ pes.description }} </td>
                        <td > {{ pes.alarmDate | date:'dd/MM/yyyy'}} </td>
                        <td >
                          <i class="fas fa-pencil-alt" style="cursor: pointer; text-align: center; font-size: 19px;  color: rgb(255, 200, 0); margin-right: 5px;"  (click)="launchPersonalAlarm(pes)"  data-toggle="modal" data-target="#modalEditAlarm"     [ngbTooltip]="'Editar alarme'"  ></i>
  
                          <i class="far fa-play-circle" style="cursor: pointer; text-align: center; font-size: 22px;  color: rgb(27, 188, 24); margin-right: 5px;"  [ngbTooltip]="'Ativar alarme'" *ngIf="pes.status === 'paused'" (click)="activePausePersonalAlarm(pes, 'active')" ></i>
  
                          <i class="far fa-pause-circle " style="cursor: pointer; text-align: center; font-size: 22px;  color: rgb(0, 123, 255); margin-right: 5px;" [ngbTooltip]="'Pausar alarme'" *ngIf="pes.status !== 'paused'" (click)="activePausePersonalAlarm(pes, 'paused')" ></i> 
  
                          <i class="fas fa-trash" style="cursor: pointer; text-align: center; font-size: 18px; color: red; margin-left: 5px; margin-right: 10px;"[ngbTooltip]="'Excluir alarme'" (click)="onRemove(pes)" data-toggle="modal"  data-target="#modalAskDelAlarm"></i>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

<div class="row mt-5" >
  <div class="col-12">
    

      <div class="card col-12 table-responsive" style="padding: 12px; padding-top: 20px; background-color: white;">


        <div class="customTHead w-100 shadow font">Alarmes grupales</div>

        <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover font fs-10"  >

              <thead >
                  <tr >
                      <th style="width: 15%;">Grupos</th>
                      <th style="width: 10%;">Nome alarme</th>
                      <th style="width: 50%;">Texto do alarme</th>
                      <th style="width: 5%;">Data</th>
                      <th style="text-align: center; width: 15%;">Ação</th>
                  </tr>
              </thead>
              <tbody *ngIf="grupalAlarms.length !== 0">
                  <tr *ngFor="let pes of grupalAlarms">
                      <td> <span *ngFor="let name of pes.group_names">
                        {{ name }}
                      </span></td>
                      <td> {{ pes.name }} </td>
                      <td> {{ pes.description }} </td>
                      <td> {{ pes.alarmDate | date:'dd/MM/yyyy'}} </td>
                      <td>
           
                        <i class="fas fa-pencil-alt" style="cursor: pointer; text-align: center; font-size: 19px;  color: rgb(255, 200, 0); margin-right: 5px;" [ngbTooltip]="'Editar alarme'" (click)="launchGrupalAlarm(pes)" data-toggle="modal" data-target="#modalEditGrupalAlarm" ></i>

                        <i class="far fa-play-circle" style="cursor: pointer; text-align: center; font-size: 22px;  color: rgb(27, 188, 24); margin-right: 5px;"  [ngbTooltip]="'Ativar alarme'" *ngIf="pes.status === 'paused'" (click)="activePauseGrupalAlarm(pes, 'active')"></i>

                        <i class="far fa-pause-circle " style="cursor: pointer; text-align: center; font-size: 22px;  color: rgb(0, 123, 255); margin-right: 5px;" [ngbTooltip]="'Pausar alarme'" *ngIf="pes.status !== 'paused'" (click)="activePauseGrupalAlarm(pes, 'paused')"></i> 

                        <i class="fas fa-trash" style="cursor: pointer; text-align: center; font-size: 18px; color: red; margin-left: 5px; margin-right: 10px;"[ngbTooltip]="'Excluir alarme'" (click)="onRemove(pes)" data-toggle="modal"  data-target="#modalAskDelAlarm"></i>
                     
                      </td>
                  </tr>

             

              
              </tbody>
        </table>
      </div>
  </div>
</div>



 <!-- Modal Alarm -->
 <div class="modal fade font" id="modalNova" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-md " role="document" style="max-width: 600px;" >
      <div class="modal-content">

        <div class="modal-header" >
            <button type="button" class="shadow mt-3"  [ngClass]="pessoal ? 'btnMenuClicked':'btnMenu'" (click)="selectPessoalOrGrupal('pessoal')" >Alarme pessoal</button>
            <button type="button" class="shadow  mt-3"   [ngClass]="grupal ? 'btnMenuClicked':'btnMenu'" style="margin-left: 30px;" (click)="selectPessoalOrGrupal('grupal')">Alarme grupal</button>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()" #closebutton>
              <span aria-hidden="true">&times;</span>
            </button>
            
       </div>

        <div class="modal-body fs-9">
         
          <form [formGroup]="myForm" class="needs-validation fs-11"  novalidate  [autocomplete]="false" (ngSubmit)="onSave()">
  
            <div class="input-group mb-3" >
              <label class="text w-100"> Nome do alarme </label>
              <div class="input-group mb-3">
                <input type="text" class="form-control"  formControlName="name"  [ngStyle]="( validField('name')) ? {'border':'1px solid red'}:{}"  [attr.disabled]="(!pessoal && !grupal) ? '' : null" >
                <div *ngIf="validField('name')" class="invalid" > Dado obrigatório </div>
              </div>
            </div>


            <form [formGroup]="myFormSearch" class="needs-validation "  novalidate  [autocomplete]="false">

              <div class="input-group  font mb-3  "   >
              <label class="text w-100 "> Selecione o usuário </label>
                  <input type="text" class="form-control block "  name="itemSearch" formControlName="itemSearch" [ngStyle]="( validField('itemSearch')) ? {'border':'1px solid red'}:{}" [attr.disabled]="(!exclude && grupal || !pessoal && !grupal) ? '' : null">
                  <div class="input-group-append">
                    <div class="input-group-text" style="background-color: rgb(0, 128, 255);" >
                      <span class="fas fa-search" style="color: white"></span>
                    </div>
       
                  </div>
                  <div *ngIf="userSelection" class="invalid" > Dado obrigatório </div>
                  <div *ngIf="exclude" class="exclude" > Selecione o usuário a excluir </div>
                </div>

            </form>

            <div class="d-flex justify-content-center" *ngIf="spinner">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
  
            <div *ngIf="mostrarSugerencias && showSuggested">
                <div *ngFor="let item of suggested"   >
                  
                  <div class="font boxSelection d-flex justify-content-between align-items-center" >   

                    <div class="d-flex">
                        
                         <!-- <img class="img-fluid br-6"  [src]="item.Ruta_Imagen ?? 'assets/no-image.jpg'" alt="Foto do Perfil do Usuário" width="40px" > -->

                         <img [src]="item | imagenPath" class="img-fluid br-6" width="50px" style="border-radius: 7px;" *ngIf="item.Ruta_Imagen !== '' && item.Ruta_Imagen !== null">
                         <img src="assets/no-image.jpg" class="img-fluid br-6 " width="50px" *ngIf="item.Ruta_Imagen == '' || !item.Ruta_Imagen">
                         

                        &nbsp; 
                        <a class="cursor selectUser" (click)="selectUser(item)">{{ item.Nome_Completo }} </a>
                    </div>
                     <i class="fas fa-eye iconEye"  data-toggle="modal" data-target="#modalFichaCompleta"  (click)="viewUser(item)"></i>

                  </div>
                </div>
            </div>


            <div class="input-group mb-3 mt-4">
              <label class="text w-100">Selecione grupo</label>
              <select #groupSelect class="form-control select2 col-12 cursor" (change)="onSelectGroup($event)"  [ngStyle]="( validField('group')) ? {'border':'1px solid red'}:{}"[attr.disabled]="(!grupal) ? '' : null">
                <option style="display:none; font-size: 1em;" disabled selected></option>
                <option *ngFor="let group of groups" [value]="[group.name, group.idgroup]" class="font">{{ group.name }}</option>
              </select>
              <div *ngIf="groupSelection" class="invalid" > Dado obrigatório </div>

              <div class="mt-3 col-12 frame-work" *ngIf="nameGroups.length !== 0">
                <div class="font fs-11 groups" *ngFor="let sel of nameGroups" >{{ sel }} &nbsp; <i class="fas fa-times-circle cursor" (click)="removeGroup(sel)"></i></div>
              </div>

            </div>


            <div class="input-group mb-3 mt-3" >
              <div class="input-group date" >
              <label class="text w-100"> Data do alarme </label>
                <input type="text"
                  class="form-control datetimepicker-input"
                  bsDatepicker
                  [bsValue]="bsValue"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }"
                  formControlName="alarmDate" required [ngStyle]="( validField('alarmDate')) ? {'border':'1px solid red'}:{}" [attr.disabled]="(!pessoal && !grupal) ? true : null">
                <div class="input-group-append"  >
                  <div class="input-group-text"><i class="fa fa-calendar" style="color: rgb(0, 123, 255);"></i></div>
                </div>
              </div>
              <div *ngIf="validField('alarmDate')" class="invalid" > Dado obrigatório </div>
  
            </div>

            <div class="input-group mb-3 mt-4" >
                  <label class="text w-100" > Antecedência do Lembrete </label>
                  <select class="form-control select2 col-12 w-100" required formControlName="notifFrequency" [ngStyle]="( validField('alarmDate')) ? {'border':'1px solid red'}:{}" (change)="onSelectFreq($event)" [attr.disabled]="(!pessoal && !grupal) ? '' : null">
                    <!-- <option selected="selected"></option> -->
                    <option *ngFor="let freq of frequency" [value]="[freq.id,freq.name]" class="font">{{ freq.name }}</option>
                  </select>
              <div *ngIf="validField('notifFrequency')" class="invalid" > Dado obrigatório </div>

              <div class="mt-3 col-12 frame-work" *ngIf="nameFreq.length !== 0" >
                <div class="font fs-11 groups"  *ngFor="let sel of nameFreq" >{{ sel }} <i class="fas fa-times-circle cursor" (click)="removeFreq(sel)"></i></div> 
              </div>
            </div>

            <div class="input-group mb-3" >
              <label class="text w-100"> Texto do alarme </label>
                <textarea class="form-control " formControlName="description" [attr.disabled]="(!pessoal && !grupal) ? '' : null" [ngStyle]="( validField('description')) ? {'border':'1px solid red'}:{}"></textarea>
                <div *ngIf="validField('description')" class="invalid" > Dado obrigatório </div>

            </div>

            <div class="custom-control custom-switch d-flex flex-column align-items-start mb-3 mt-4" >
              <input type="checkbox" class="custom-control-input " id="customSwitch1" #excluir (change)="onSelect($event)" [checked]="isChecked" [attr.disabled]="(!grupal) ? true : null">
              <label class="custom-control-label cursor" for="customSwitch1"> Excluir do alarme o usuário  </label>
            </div>
  
            <div class=" modal-footer d-flex align-items-center justify-content-center">
              <button type="submit" class="btn btn-primary btn-block shadow mt-3 fs-11 font" [attr.disabled]="(!pessoal && !grupal) ? '' : null">Criar alarme</button>
           </div>
          
          </form>
  
        </div>
        <div class="loading-overlay d-flex align-items-center justify-content-center" *ngIf="isLoading">
          <div class="spinner-grow" role="status" >
              <span class="sr-only">Loading...</span>
          </div>
      </div> 
    
     
      </div>
    </div>
</div>

 <!-- Edit Personal Alarm -->
 <div class="modal fade font" id="modalEditAlarm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
    <div class="modal-content">

      <div class="modal-header" style="padding: 20px;">
        <h3 class="font" > Editar alarme </h3> 
        <i class="fas fa-pencil-alt" style="font-size: 19px; color: rgb(255, 200, 0); margin-left: 20px; margin-top: 5px;" ></i> 
        <button type="button"   class="close" data-dismiss="modal" aria-label="Close" #closebuttonEdit (click)="resetEdition()">
          <i class="fas fa-times"></i>
        </button>
      </div>


      <div class="modal-body fs-9">
       
        <form [formGroup]="myFormEditPersAlarm" class="needs-validation font fs-11"  novalidate  [autocomplete]="false" >


            <input type="text" class="form-control" style="display: none;" formControlName="idalarm"  >

          <div class="input-group mb-3" >
            <label class="text w-100"> Nome do alarme </label>
            <div class="input-group mb-3">
              <input type="text" class="form-control"  formControlName="personalName"  [ngStyle]="( validFieldEdit('personalName')) ? {'border':'1px solid red'}:{}"  >
              <div *ngIf="validFieldEdit('personalName')" class="invalid" > Dado obrigatório </div>
            </div>
          </div>

          <div class="input-group mb-3 mt-3" >
            <div class="input-group date" >
            <label class="text w-100"> Data do alarme </label>
              <input type="text"
                class="form-control datetimepicker-input"
                bsDatepicker
                [bsValue]="bsValue"
                [minDate]="minDate"
                [maxDate]="maxDate"
                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }"
                formControlName="alarmPersonalDate" required [ngStyle]="( validFieldEdit('alarmPersonalDate')) ? {'border':'1px solid red'}:{}" >
              <div class="input-group-append"  >
                <div class="input-group-text"><i class="fa fa-calendar" style="color: rgb(0, 123, 255);"></i></div>
              </div>
            </div>
            <div *ngIf="validFieldEdit('alarmPersonalDate')" class="invalid" > Dado obrigatório </div>

          </div>

          <div class="input-group mb-3 mt-4" >
                <label class="text w-100" > Antecedência do Lembrete </label>
                <select class="form-control select2 col-12 w-100"  formControlName="notifPersonalFrequency" [ngStyle]="( validFieldEdit('alarmDate')) ? {'border':'1px solid red'}:{}" (change)="onSelectFreq($event)" >
                  <option *ngFor="let freq of frequency" [value]="[freq.id,freq.name]" class="font">{{ freq.name }}</option>
                </select>
            <div *ngIf="frequencySelected.length === 0" class="invalid" > Dado obrigatório </div>

            <div class="mt-3 col-12 frame-work" *ngIf="nameFreq.length !==0" >
              <div class="font fs-10 groups"  *ngFor="let sel of nameFreq" >{{ sel }} <i class="fas fa-times-circle cursor" (click)="removeFreq(sel)"></i></div> 
            </div>
          </div>

          

          <div class="input-group mb-3" >
            <label class="text w-100"> Texto do alarme </label>
              <textarea class="form-control " formControlName="descriptionPersonal" ></textarea>
              <div *ngIf="validFieldEdit('descriptionPersonal')" class="invalid" > Dado obrigatório </div>

          </div>

        </form>

      </div>
      <div class="loading-overlay d-flex align-items-center justify-content-center" *ngIf="isLoading">
        <div class="spinner-grow" role="status" >
            <span class="sr-only">Loading...</span>
        </div>
    </div> 
      <div class=" modal-footer d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-primary btn-block shadow mt-3" (click)="editPersonalAlarm()">Editar alarme</button>
    
        
    </div>
    

  
   
    </div>
  </div>
</div>


 <!-- Edit GrupalAlarm -->
 <div class="modal fade font" id="modalEditGrupalAlarm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document"  >
    <div class="modal-content">

      <div class="modal-header" style="padding: 20px;">
        <h3 class="font" > Editar Alarme Grupal</h3> 
        <i class="fas fa-pencil-alt" style="font-size: 19px; color: rgb(255, 200, 0); margin-left: 20px; margin-top: 5px;" ></i> 
        <button type="button"   class="close" data-dismiss="modal" aria-label="Close" #closebuttonEditGrupal (click)="resetEdition()">
          <i class="fas fa-times"></i>
        </button>
      </div>


      <div class="modal-body fs-9">
       
        <form [formGroup]="myFormEditGrupalAlarm" class="needs-validation font fs-11"  novalidate  [autocomplete]="false" (ngSubmit)="editGrupalAlarm()">


              <input type="text" class="form-control" style="display: none;" formControlName="idgroupalarm"  >

            <div class="input-group mb-3" >
              <label class="text w-100"> Nome do alarme </label>
              <div class="input-group mb-3">
                <input type="text" class="form-control"  formControlName="grupalName"  [ngStyle]="( validFieldEditGrupal('grupalName')) ? {'border':'1px solid red'}:{}"  >
                <div *ngIf="validFieldEditGrupal('grupalName')" class="invalid" > Dado obrigatório </div>
              </div>
            </div>

            <form [formGroup]="myFormSearch" class="needs-validation "  novalidate  [autocomplete]="false">

              <div class="input-group  font mb-3  "   >
              <label class="text w-100 "> Excluir usuário </label>
                  <input type="text" class="form-control block "  name="itemSearch" formControlName="itemSearch" [ngStyle]="( validFieldEditGrupal('itemSearch')) ? {'border':'1px solid red'}:{}" [attr.disabled]="(suggested.length === 0 || !exclude) ? true : null">
                  <div class="input-group-append">
                    <div class="input-group-text" style="background-color: rgb(0, 128, 255);" >
                      <span class="fas fa-search" style="color: white"></span>
                    </div>
      
                  </div>
                  <div *ngIf="userSelection" class="invalid" > Dado obrigatório </div>
                  <div *ngIf="exclude" class="exclude" > Selecione o usuário a excluir </div>
                </div>

            </form>

            <div *ngIf="mostrarSugerencias && showSuggested">
                <div *ngFor="let item of suggested"   >
                  
                  <div class="font boxSelection d-flex justify-content-between align-items-center" >   

                      <div class="d-flex">
                          <img class="img-fluid br-6"  [src]="item.Ruta_Imagen ?? 'assets/no-image.jpg'" alt="Foto do Perfil do Usuário" width="40px" >
                          &nbsp; 
                          <a class="cursor selectUser" (click)="selectUser(item)">{{ item.Nome_Completo }} </a>
                      </div>

                      <div class="d-flex">
                          <i class="fas fa-eye iconEye"  data-toggle="modal" data-target="#modalFichaCompleta"  (click)="viewUser(item)" [ngbTooltip]="'Ver usuário'"></i>
                          <i class="fas fa-times iconEye"  (click)="unSelectExludedUser(item)" [ngbTooltip]="'Remover usuário excluído'"></i>
                      </div>
                  </div>
                </div>
            </div>

            <div class="input-group mb-3 mt-4">
              <label class="text w-100">Selecione grupo</label>
              <select #groupSelect class="form-control select2 col-12 cursor" (change)="onSelectGroup($event)"  [ngStyle]="( validField('group')) ? {'border':'1px solid red'}:{}">
                <option style="display:none; font-size: 1em;" disabled selected></option>
                <option *ngFor="let group of groups" [value]="[group.name, group.idgroup]" class="font">{{ group.name }}</option>
              </select>

              <div *ngIf="selectedGroups.length === 0" class="invalid" > Dado obrigatório </div>

              <div class="mt-3 col-12 frame-work" *ngIf="nameGroups.length !== 0">
                <div class="font fs-11 groups " *ngFor="let sel of nameGroups" >{{ sel }} &nbsp; <i class="fas fa-times-circle cursor" (click)="removeGroup(sel)"></i></div>
              </div>

            </div>

            <div class="input-group mb-3 mt-3" >
              <div class="input-group date" >
              <label class="text w-100"> Data do alarme </label>
                <input type="text"
                  class="form-control datetimepicker-input"
                  bsDatepicker
                  [bsValue]="bsValue"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }"
                  formControlName="alarmGrupalDate" required [ngStyle]="( validFieldEditGrupal('alarmGrupalDate')) ? {'border':'1px solid red'}:{}" >
                <div class="input-group-append"  >
                  <div class="input-group-text"><i class="fa fa-calendar" style="color: rgb(0, 123, 255);"></i></div>
                </div>
              </div>
              <div *ngIf="validFieldEditGrupal('alarmGrupalDate')" class="invalid" > Dado obrigatório </div>

            </div>

            <div class="input-group mb-3 mt-4" >
                  <label class="text w-100" > Antecedência do Lembrete </label>
                  <select class="form-control select2 col-12 w-100"  formControlName="notifGrupalFrequency" [ngStyle]="( validFieldEditGrupal('alarmDate')) ? {'border':'1px solid red'}:{}" (change)="onSelectFreq($event)" >
                    <option *ngFor="let freq of frequency" [value]="[freq.id,freq.name]" class="font">{{ freq.name }}</option>
                  </select>

              <div *ngIf="frequencySelected.length === 0" class="invalid" > Dado obrigatório </div>

              <div class="mt-3 col-12 frame-work" *ngIf="nameFreq.length !== 0">
                <div class="font fs-11 groups"  *ngFor="let sel of nameFreq" >{{ sel }} <i class="fas fa-times-circle cursor" (click)="removeFreq(sel)"></i>
                </div> 
              </div>
            </div>


            <div class="input-group mb-3" >
              <label class="text w-100"> Texto do alarme </label>
                <textarea class="form-control " formControlName="descriptionGrupal" ></textarea>
                <div *ngIf="validFieldEditGrupal('descriptionGrupal')" class="invalid" > Dado obrigatório </div>

            </div>

            <div class="custom-control custom-switch d-flex flex-column align-items-start mb-3 mt-4" >
              <input type="checkbox" class="custom-control-input " id="customSwitch2" #excluir (change)="onSelectEdition($event)" [checked]="isChecked" >
              <label class="custom-control-label cursor" for="customSwitch2"> Excluir do alarme o usuário  </label>
            </div>

            <div class=" modal-footer d-flex align-items-center justify-content-center">
              <button type="submit" class="btn btn-primary btn-block shadow mt-3" >Editar alarme</button>
          </div>
          

        </form>

      </div>
      <div class="loading-overlay d-flex align-items-center justify-content-center" *ngIf="isLoading">
        <div class="spinner-grow" role="status" >
            <span class="sr-only">Loading...</span>
        </div>
    </div> 
    

  
   
    </div>
  </div>
</div>


  <!-- Modal ask delete alarm -->
  <div class="modal fade" id="modalAskDelAlarm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="opacity: 0.85; ">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fas fa-exclamation-triangle" style="color: red; font-size: 40px;"></i>
          <button type="button"   class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <h6 class="font fs-11">Tem certeza de que deseza excluir esta alarme?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-block shadow" (click)="continue()" data-dismiss="modal" aria-label="Close"> Continuar</button>
          <!-- <button type="button" class="btn btn-primary btn-block shadow"  *ngIf="isSending"> Enviando...</button> -->

        </div>

      </div>
    </div>
  </div>

 <!-- success -->
 <div id="custom-toast" class="alert alert-success alert-dismissible font " [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="showSuccess">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (close)="closeToast()">&times;</button>
  <h5 class="fs-11"><i class="icon fas fa-check"> &nbsp;</i> Sucesso!!</h5>
  <span class="fs-11 w-100"> {{msg}}</span>
  <!-- <span class="fs-8 w-100"> Para verificar seu e-mail, siga as instruções que enviamos.</span> -->
</div>

  <!-- Modal Ficha completa-->
  <div class="modal fade" id="modalFichaCompleta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding: 20px;">
          <h5 class="modal-title font" id="exampleModalCenterTitle"> Ficha completa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <app-view-congregati *ngIf="show" [userFromGroup]="userViewModal"></app-view-congregati>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block shadow" style="width: 100px;" data-dismiss="modal" aria-label="Close" #closebutton (click)="closeModal()" > Sair</button>
        </div>

      
      </div>
    </div>
</div>

  

<div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
      <span class="sr-only">Loading...</span>
    </div>
</div> 
  
  
  
  




    