@import '~ngx-toastr/toastr';


@font-face {
  font-family:'awesome';
  src: url(assets/font/fontawesome-webfont.ttf);
   
}

@font-face {
font-family:'poppins-light';
src: url(assets/font/poppins/Poppins-Light.ttf);
 
}

@font-face {
font-family:'bebas-nehue';
src: url(assets/font/Bebas_Neue/BebasNeue-Regular.ttf);
 
}

@font-face {
font-family:'luckiestGuy';
src: url(assets/font/Luckiest_Guy/LuckiestGuy-Regular.ttf);
 
}

body .bs-datepicker-container .bs-datepicker-head {
    background-color: blue;
  }
  body .bs-datepicker-container .bs-datepicker-head * {
    color: white;
  }

  .bs-datepicker-body table td.week span  {
    color: rgba(255, 0, 0, 0) !important; 
} 

.bs-datepicker-body table td span.selected{
    /* color: brown !important;  */

}


.cursor{
    cursor: pointer;
}

.font{
  font-family: "poppins-light";
}

.ml-20{
  margin-left: 20px;
}

.pd-20{
  padding: 20px;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
  box-shadow: none !important;
}

.card{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fs-8{
  font-size: 0.8em;
}

.fs-9{
  font-size: 0.9em;
}
.fs-10{
  font-size: 1em;
}
.fs-11{
  font-size: 1.1em;
}
.fs-12{
  font-size: 1.2em;
}

.back-white{
  background-color: white;
}

