/* You can add global styles to this file, and also import other style files */


body .bs-datepicker-container .bs-datepicker-head {
    background-color: blue;
  }
  body .bs-datepicker-container .bs-datepicker-head * {
    color: white;
  }

  .bs-datepicker-body table td.week span  {
    color: rgba(255, 0, 0, 0) !important; 
} 

.bs-datepicker-body table td span.selected{
    /* color: brown !important;  */

}


.cursor{
    cursor: pointer;
}

.font{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}