<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>150</h3>
        <p>Novos pedidos</p>
      </div>
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <a href="#" class="small-box-footer">
        Más información <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="small-box bg-gradient-success">
      <div class="inner">
        <h3>44</h3>
        <p>Usuários registrados</p>
      </div>
      <div class="icon">
        <i class="fas fa-user-plus"></i>
      </div>
      <a href="#" class="small-box-footer">
        Más información<i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>150</h3>
        <p>Usuários ativos</p>
      </div>
      <div class="icon">
        <i class="nav-icon fas fa-tachometer-alt"></i>
      </div>
      <a href="#" class="small-box-footer">
        Más información <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>44</h3>
        <p>Usuários desabilitados
        </p>
      </div>
      <div class="icon">
        <i class="right fas fa-angle-left"></i>
      </div>
      <a href="#" class="small-box-footer">
        Más información <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
 
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Pedidos de registro
        </h3>
        <div class="card-tools float-right">
            <small class="badge badge-danger">{{reqLength}}</small>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-sm font">
          <thead>
            <tr class="fs-10">
              <th style="width: 10px">#</th>
              <th>Nome</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody *ngIf="reqRegister.length > 0; else noData">
            <tr *ngFor="let request of reqRegister; let i = index" [routerLink]="['editar-usuario/', request.iduser]" class="selected">
              <td>{{ i + 1 }}</td>
              <td>{{ request.Nome_Completo }}</td>
              <td>{{ request.date | date }}</td>
            </tr>
          </tbody>
          <ng-template #noData >
            <tr class="mt-3">
              <td colspan="3" class="text-center" style="height: 60px; margin-top: 40px;">Sem pedidos de registros</td>
            </tr>
          </ng-template>
        </table>
      </div>
      
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-6">
    <div class="card">
    
      <div class="card-body p-0">
        <table class="table table-sm">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Unidades actualizadas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>09/11/2023</td>
             
            </tr>
         
           
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

   

      