<div class="row mt-4"  >


    <div class="col -12">

    
  
        <div class="card card-primary card-outline card-outline-tabs font">
          <div class="card-header p-0 border-bottom-0 " >
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Dados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"> Roles </a>
              </li>
            </ul>
          </div>
  
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent " >
              <div class="tab-pane fade show active  " id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
  
                <div class="row">
                    <div class="col-lg-12">
                    
                   
                      <form [formGroup]="myForm" class="needs-validation mt-1 font"  novalidate  [autocomplete]="false" (ngSubmit)="onSave()" >

                        <div class="row">
                          <div class="input-group mt-3 col-8">
                            <span class="text mb-3 w-100"> <b>Nome completo</b> </span>
                            <input type="text" class="form-control" [readonly]="readonlyFields['Nome_Completo'] || !isLinkedToCongregatio" formControlName="Nome_Completo" >
                            <button type="button" class="btn btn-primary btn-block" style="width: 150px; font-size: 1em; line-height: 20px;" data-toggle="modal" data-target="#modalCongregatio" >
                              <i class="fas fa-search"></i> &nbsp; Congregatio
                            </button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-group mt-3 col-6" >
                            <label class="text w-100" > Ordem </label>
                            <select class="form-control select2 "  formControlName="ordem" [ngStyle]="( validField('ordem')) ? {'border':'1px solid red'}:{}"  [attr.disabled]="(disableOrdem) ? '' : null" >
                              <option *ngFor="let ord of ordem" [value]="ord" class="font" > {{ ord }} </option>
                            </select>
                            <div *ngIf="validField('ordem')" class="invalid" > Dado obrigatório </div>
                          </div> 
                      
                        </div>      
                        
                        <div class="row">

                                 <div class="input-group mt-4 mb-3 col-6" >
                                    <label class="text w-100" > <b>Nome</b> </label>
                                    <input type="text" class="form-control"  formControlName="name" [ngStyle]="( validField('name')) ? {'border':'1px solid red'}:{}"  [readonly]="readonlyFields['name'] || isLinkedToCongregatio" >
                                 <div *ngIf="validField('name')" class="invalid" > Dado obrigatório </div>
                                </div>    
                                  
                                <div class="input-group mt-4 mb-3  col-6">
                                    <label class="text w-100">Sobrenome</label>
                                    <input type="text" class="form-control" formControlName="lastName" [ngStyle]="( validField('lastName')) ? {'border':'1px solid red'}:{}"  [readonly]="readonlyFields['lastName'] || isLinkedToCongregatio" >
                                    <div *ngIf="validField('lastName')" class="invalid" > Dado obrigatório </div>
                                </div>
                        </div>

                        <div class="row">

                            <div class="input-group mb-3 mt-3 col-6">
                              <label class="text w-100"> Telefone  </label>
                              <input type="text" class="form-control" formControlName="Telefone1" [ngStyle]="( validField('Telefone1')) ? {'border':'1px solid red'}:{}"  [readonly]="readonlyFields['Telefone1'] || isLinkedToCongregatio" >
                              <div *ngIf="validField('Telefone1')" class="invalid" > Dado obrigatório </div>
                            </div>

                            <div class="input-group mb-3 mt-3 col-6" >
                                <div class="input-group date" >
                              <label class="text w-100"> Data de nascimento  </label>
                                  <input type="text"
                                    class="form-control datetimepicker-input"
                                    bsDatepicker
                                    [bsValue]="bsValue"
                                    [minDate]="minDate"
                                    [maxDate]="maxDate"
                                    [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }"
                                    formControlName="Data_Nascimento" [ngStyle]="( validField('Data_Nascimento')) ? {'border':'1px solid red'}:{}" [readonly]="readonlyFields['Data_Nascimento'] || isLinkedToCongregatio">
                                  <div class="input-group-append"  >
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                  </div>
                                </div>
                                <div *ngIf="validField('Data_Nascimento')" class="invalid" > Dado obrigatório </div>
                            </div>
                        </div>

                        <div class="row">

                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100" >Email</label>
                                <input type="email" class="form-control" formControlName="Email" [ngStyle]="( validField('Email')) ? {'border':'1px solid red'}:{}" [readonly]="readonlyFields['Email'] || isLinkedToCongregatio">
                                <div *ngIf="validField('Email')" class="invalid" > Dado obrigatório </div>
                              </div>

                              <div class="input-group mb-3 mt-3 col-6">
                                <label class="text w-100" > Nacionalidade </label>
                                <input type="text" class="form-control"  formControlName="Nacionalidade" [ngStyle]="( validField('Nacionalidade')) ? {'border':'1px solid red'}:{}" [readonly]="readonlyFields['Nacionalidade'] || isLinkedToCongregatio">
                                <div *ngIf="validField('Nacionalidade')" class="invalid" > Dado obrigatório </div>

                              </div>

                              <div class="input-group mb-3 mt-3 col-6">
                                <label class="text w-100" > Residência atual </label>
                                <input type="text" class="form-control" formControlName="Residencia_atual"  [ngStyle]="( validField('Residencia_atual')) ? {'border':'1px solid red'}:{}" [readonly]="readonlyFields['Residencia_atual'] || isLinkedToCongregatio">
                                <div *ngIf="validField('Residencia_atual')" class="invalid" > Dado obrigatório </div>

                              </div>

                        </div>

                        <div class="row mt-3 font">
                            <div style="border-top: 2px solid rgb(203, 203, 203); width: 100%; padding-top: 5px; margin-left: 10px;">
                              <p>Sede</p>
                            </div>

                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100" > País da sede </label>
                                <input type="text" class="form-control"  formControlName="Pais_da_sede"  [ngStyle]="( validField('Pais_da_sede')) ? {'border':'1px solid red'}:{}" [readonly]="readonlyFields['Pais_da_sede'] || isLinkedToCongregatio">
                                <div *ngIf="validField('Pais_da_sede')" class="invalid" > Dado obrigatório </div>
                              </div>

                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100"> Cidade da sede </label>
                                <input type="text" class="form-control"  formControlName="Cidade_da_sede"  [ngStyle]="( validField('Cidade_da_sede')) ? {'border':'1px solid red'}:{}"  [readonly]="readonlyFields['Cidade_da_sede'] || isLinkedToCongregatio">
                                <div *ngIf="validField('Cidade_da_sede')" class="invalid" > Dado obrigatório </div>
                              </div>
                        </div>
                                            
                        <div class="row mt-3" >
                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100"> Nome da sede </label>
                                <input type="text" class="form-control"  formControlName="Nome_da_sede"  [ngStyle]="( validField('Nome_da_sede')) ? {'border':'1px solid red'}:{}" [readonly]="readonlyFields['Nome_da_sede'] || isLinkedToCongregatio">
                                <div *ngIf="validField('Nome_da_sede')" class="invalid" > Dado obrigatório </div>
                              </div>
                        </div>

                        <div class="input-group mb-3 mt-3" >
                              <button type="submit" class="btn btn-primary shadow fs-10"   ><i class="fa fa-save"></i> &nbsp; Guardar</button>
                        </div>
                           
                      </form>    
                                  
                   
                    </div>
                    
                </div>
  
          
              </div>
  
              <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
             
                <div class="row mt-5">
                  <div class="col-sm-6">
                    <!-- Primer radio (arriba) -->
                    <div class="form-group clearfix">
                      <div class="icheck-success d-inline">
                        <input type="radio" name="r3"  id="radioSuccess1" (change)="handleRoleChange('admin')" >
                        <label for="radioSuccess1"> Administrador </label>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-sm-6">
                    <!-- Segundo radio (abajo) -->
                    <div class="form-group clearfix">
                      <div class="icheck-success d-inline">
                        <input type="radio" name="r3" id="radioSuccess2" (change)="handleRoleChange('user')" >
                        <label for="radioSuccess2"> Usúario </label>
                      </div>
                    </div>
                  </div>
                </div>
                
  
              </div>
       
            </div>
          </div>
          <!-- /.card -->
        </div>
     </div>
  
</div>


  <!-- Modal Congregatio-->
  <div class="modal fade" id="modalCongregatio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="opacity: 0.95; ">

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding: 20px;">
          <h5 class="modal-title font" id="exampleModalCenterTitle"> Busca por nome ou sobrenome</h5>
      
        </div>
        <div class="modal-body">
          
          <form [formGroup]="myFormSearch" class="needs-validation"  novalidate  [autocomplete]="false">

            <div class="input-group mb-3 font" >
                <input type="text" class="form-control" placeholder="Use % para pesquisas complexas"  name="itemSearch" formControlName="itemSearch" style="height: 50px;">
                <div class="input-group-append">
                  <div class="input-group-text" style="background-color: rgb(0, 128, 255);" >
                    <span class="fas fa-search" style="color: white"></span>
                  </div>
                </div>
    
              </div>
          </form>
          
          <div class="d-flex justify-content-center" *ngIf="loadindCongregatio">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div *ngIf="mostrarSugerencias">
              <div *ngFor="let item of suggested"  (click)="selectUser(item)" >
                
                <div class="boxSelection mt-1 font" >   
                   <img class="img-fluid br-6" src="https://congregatio.info/{{ item['Ruta Imagen'] }}" alt="Foto do Perfil do Usuário" width="40px">
                  {{ item['Nome Completo'] }}
                </div>
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block shadow" style="width: 100px;" data-dismiss="modal" aria-label="Close" #closebutton (click)="close()"> Sair</button>
        </div>

      
      </div>
    </div>
  </div>

     <!-- success upload / edition-->
 <div id="custom-toast" class="alert alert-success alert-dismissible font " [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="showSuccess">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (close)="closeToast()">&times;</button>
  <h5 ><i class="iicon fas fa-check"> &nbsp;</i> Sucesso!</h5>
  <span class="fs-11 w-100"> Usuário criado com sucesso</span>
  <!-- <span class="fs-8 w-100"> Para verificar seu e-mail, siga as instruções que enviamos.</span> -->
</div>


  <!-- no role selected  -->
  <div id="custom-toast" class="alert alert-warning alert-dismissible font" [ngClass]="!phone ? 'animate__animated animate__backInRight' :'animate__animated fadeIn' " *ngIf="showLabelNoRole"  >
    <button type="button" class="close" (click)="closeToastRole()" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5 ><i class="icon fas fas fa-user-lock"></i> Erro</h5>
    <p class="cursor mt-1 fs-11" >Pode adicionar uma função ou editar mais tarde o usuário</p>
    <p class="cursor mt-1 fs-11 cursor" style="color: blue; text-decoration: underline; "  (click)="addRole()">Adicionar função</p>
  </div>


  
  
  
<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
    <span class="sr-only">Loading...</span>
  </div>
</div> 

