<div class="row mt-4"  >

    <div class="col-sm-6 col-lg-12">
  
        <div class="card card-primary card-outline card-outline-tabs font">
          <div class="card-header p-0 border-bottom-0 " >
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Dados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"> Roles </a>
              </li>
            </ul>
          </div>
  
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent " >
              <div class="tab-pane fade show active  " id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
  
                <div class="row">
                    <div class="col-lg-12">
                    
                   
                      <form [formGroup]="myForm" class="needs-validation mt-1 font"  novalidate  [autocomplete]="false"  >

                        <div class="row">
                          <div class="input-group mt-3 col-6" >
                            <label class="text w-100" > Ordem </label>
                            <select class="form-control select2 "  formControlName="ordem" >
                              <option *ngFor="let ord of ordem" [value]="ord" class="font" > {{ ord }} </option>
                            </select>
                          </div>      
                        </div>      
                        
                        <div class="row">

                                 <div class="input-group mt-4 mb-3 col-6" >
                                    <label class="text w-100"  > <b>Nome</b> </label>
                                    <input type="text" class="form-control"  formControlName="name" >
                                </div>    
                                  
                                <div class="input-group mt-4 mb-3  col-6">
                                    <label class="text w-100" >Sobrenome</label>
                                    <input type="text" class="form-control" formControlName="lastName">
                                </div>
                          </div>

                          <div class="row">

                            <div class="input-group mb-3 mt-3 col-6">
                              <label class="text w-100" > Telefone  </label>
                              <input type="text" class="form-control" formControlName="Telefone1">
                            </div>

                            <div class="input-group mb-3 mt-3 col-sm-6">
                              <label class="text w-100" > Data de nascimineto  </label>
                              <input type="text" class="form-control"  formControlName="Data_Nascimento">
                            </div>
                          </div>

                          <div class="row">

                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100" >Email</label>
                                <input type="email" class="form-control" formControlName="Email">
                              </div>

                              <div class="input-group mb-3 mt-3 col-6">
                                <label class="text w-100" > Nacionalidade </label>
                                <input type="text" class="form-control"  formControlName="Nacionalidade">
                              </div>

                              <div class="input-group mb-3 mt-3 col-6">
                                <label class="text w-100" > Residência atual </label>
                                <input type="text" class="form-control" formControlName="Residencia_atual">
                              </div>

                          </div>

                          <div class="row mt-3 font">
                            <div style="border-top: 2px solid rgb(203, 203, 203); width: 100%; padding-top: 5px; margin-left: 10px;">
                              <p>Sede</p>
                            </div>

                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100" > País da sede </label>
                                <input type="text" class="form-control"  formControlName="Pais_da_sede">
                              </div>

                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100"> Cidade da sede </label>
                                  <input type="text" class="form-control"  formControlName="Cidade_da_sede">
                              </div>
                              </div>
                                            
                          <div class="row mt-3" >
                              <div class="input-group mb-3 mt-3 col-6" >
                                <label class="text w-100"> Nome da sede </label>
                                <input type="text" class="form-control"  formControlName="Nome_da_sede">
                              </div>
                            </div>

                            <div class="input-group mb-3 mt-3" >
                              <button type="button" class="btn btn-primary shadow fs-10"  (click)="onSave()" ><i class="fa fa-save"></i> &nbsp; Guardar</button>

                           
                            </div>

                           
                      </form>    
                                  
                   
                    </div>
                    
                </div>
  
          
              </div>
  
              <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
             
                <div class="row mt-5">
                  <div class="col-sm-6">
                    <!-- Primer radio (arriba) -->
                    <div class="form-group clearfix">
                      <div class="icheck-success d-inline">
                        <input type="radio" name="r3"  id="radioSuccess1" (change)="handleRoleChange('admin')" >
                        <label for="radioSuccess1"> Administrador </label>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-sm-6">
                    <!-- Segundo radio (abajo) -->
                    <div class="form-group clearfix">
                      <div class="icheck-success d-inline">
                        <input type="radio" name="r3" id="radioSuccess2" (change)="handleRoleChange('user')" >
                        <label for="radioSuccess2"> Usúario </label>
                      </div>
                    </div>
                  </div>
                </div>
                
  
              </div>
       
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
  
  
  </div>
  
  
  
  